<p id="error"><%= flash[:error] %></p>
<%= form_tag("build", method: "post") do %>
<h3><%= "Build ships on planet #{@planet.name}" %></h3>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">


<% unless @shipshelper.get_available_ships(@planet).empty? %>
  
    <tr>
	    <td>Name</td>
	    <td>Construction time</td>
	    <td>Ores</td>
	    <td>Crystals</td>
	    <td>Credits</td>
	    <td>Info</td>
	    <td>Amount</td>
    </tr><% @sh=@shipshelper.get_available_ships(@planet) %>
    <% @sh.each do |s| %>
    <tr >
	    <td><%= s.name %></td>
	    <td><%= s.construction_time %></td>
	    <td id="ore-cost"><%= s.ore_cost %></td>
	    <td id="crystal-cost"><%= s.crystal_cost %></td>
	    <td id="credit-cost"><%= s.credit_cost %></td>
	    <td><a id="s<%= s.id %>" href="#"  class="btn btn-mini" data-html="true" ><i class="icon-question-sign" ></i></a>
	    </td>
	    <td><%= number_field(:ship, s.id ,:class=> "span1 ship-amount",  :id=> "nr-field", :min=>"0") %></td>
    </tr>
    <% end %>


</table>

<table id="need-ressource" class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Needed Ressources:</th>

		</tr>
		<tr>
			<th id="got-ore"data-ore="<%=@planet.ore%>">Ore (<%=@planet.ore%>):</th>
			<th id="got-crystal" data-crystal="<%=@planet.crystal%>" >Crystal (<%=@planet.crystal%>):</th>
			<th id="got-credit" data-credit="<%=@credit%>" >Space-Cash (<%=@credit%>):</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td id="ore-t"></td>
			<td id="crystal-t"></td>
			<td id="credit-t"></td>
		</tr>
	</tbod>
</table>
<%= hidden_field_tag 'planet', @planet.id.to_s %>
<%= submit_tag("Build", :id => "build-button", :class=> "btn") %> 
<%= link_to 'Zurück',{ controller: "starport"}, class: "btn" %>
    <% end %>
  
  <% end %>
<script>  
$(document).ready(function() {
	$("#ore-t").text("0");
	$("#crystal-t").text("0");
	$("#credit-t").text("0");
	
});
$(function ()  
{ 	
	<% unless @sh.nil? %>
	<% @sh.each do |s| %>
	$("#s<%= s.id %>").popover({title: '<%= s.name %>', content: '<ul><li>Offense: <%= s.offense %></li><li>Defense: <%= s.defense %></li><li>Ressource Capacity: <%= s.ressource_capacity %></li><li>Crew: <%= s.crew_capacity %></li><li>Fuel Capacity: <%= s.fuel_capacity %></li><li>Velocity: <%= s.velocity %></li><li>Consumption: <%= s.consumption %></li></ul>'}); 
	<% end %>
	<%end%>

});  




$(".ship-amount").keyup(function() {
	$("#ore-t").text("0");
	$("#crystal-t").text("0");
	$("#credit-t").text("0");
	//console.log(($(this).parent().parent().find("td[id=ore-cost]").first().text())*$(this).val());
	$(".ship-amount").each(function(){
		new_ore=($(this).parent().parent().find("td[id=ore-cost]").first().text())*$(this).val();
		new_credit=($(this).parent().parent().find("td[id=credit-cost]").first().text())*$(this).val();
		new_crystal=($(this).parent().parent().find("td[id=crystal-cost]").first().text())*$(this).val();
		$("#ore-t").text(parseInt($("#ore-t").text())+new_ore);
		$("#crystal-t").text(parseInt($("#crystal-t").text())+new_crystal);
		$("#credit-t").text(parseInt($("#credit-t").text())+new_credit);


	});

	if(parseInt($("#ore-t").text()) > parseInt($("#got-ore").data("ore"))){
		$("#ore-t").css( "color", "red" );
		$("#build-button").hide();
	}
	else{
		$("#ore-t").css( "color", "black" );
	}
	if(parseInt($("#credit-t").text()) > parseInt($("#got-credit").data("credit"))){
		$("#credit-t").css( "color", "red" );
		$("#build-button").hide();
	}
	else{
		$("#credit-t").css( "color", "black" );
	}
	if(parseInt($("#crystal-t").text()) > parseInt($("#got-crystal").data("crystal"))){
		$("#crystal-t").css( "color", "red" );
		$("#build-button").hide();
	}
	else{
		$("#crystal-t").css( "color", "black" );
		
	}

	if((parseInt($("#crystal-t").text()) <= parseInt($("#got-crystal").data("crystal")))  && (parseInt($("#credit-t").text()) <= parseInt($("#got-credit").data("credit")))  &&  (parseInt($("#ore-t").text()) <= parseInt($("#got-ore").data("ore")))){
		$("#crystal-t").css( "color", "black" );
		$("#ore-t").css( "color", "black" );
		$("#credit-t").css( "color", "black" );
		$("#build-button").show();
	}



	//new_ore=($(this).parent().parent().find("td[id=ore-cost]").first().text())*
	//console.log(($(this).parent().parent().find("td[id=ore-cost]").first().text()));

});
$(".ship-amount").change(function() {
	$("#ore-t").text("0");
	$("#crystal-t").text("0");
	$("#credit-t").text("0");
	//console.log(($(this).parent().parent().find("td[id=ore-cost]").first().text())*$(this).val());
	$(".ship-amount").each(function(){
		new_ore=($(this).parent().parent().find("td[id=ore-cost]").first().text())*$(this).val();
		new_credit=($(this).parent().parent().find("td[id=credit-cost]").first().text())*$(this).val();
		new_crystal=($(this).parent().parent().find("td[id=crystal-cost]").first().text())*$(this).val();
		$("#ore-t").text(parseInt($("#ore-t").text())+new_ore);
		$("#crystal-t").text(parseInt($("#crystal-t").text())+new_crystal);
		$("#credit-t").text(parseInt($("#credit-t").text())+new_credit);


	});

	if(parseInt($("#ore-t").text()) > parseInt($("#got-ore").data("ore"))){
		$("#ore-t").css( "color", "red" );
		$("#build-button").hide();
	}
	else{
		$("#ore-t").css( "color", "black" );
	}
	if(parseInt($("#credit-t").text()) > parseInt($("#got-credit").data("credit"))){
		$("#credit-t").css( "color", "red" );
		$("#build-button").hide();
	}
	else{
		$("#credit-t").css( "color", "black" );
	}
	if(parseInt($("#crystal-t").text()) > parseInt($("#got-crystal").data("crystal"))){
		$("#crystal-t").css( "color", "red" );
		$("#build-button").hide();
	}
	else{
		$("#crystal-t").css( "color", "black" );
	}

	if((parseInt($("#crystal-t").text()) < parseInt($("#got-crystal").data("crystal")))  && (parseInt($("#credit-t").text()) < parseInt($("#got-credit").data("credit")))  &&  (parseInt($("#ore-t").text()) < parseInt($("#got-ore").data("ore")))){
		$("#crystal-t").css( "color", "black" );
		$("#ore-t").css( "color", "black" );
		$("#credit-t").css( "color", "black" );
		$("#build-button").show();
	}

});

</script>  
