<h1>Listing tradereports</h1>

<table>
  <thead>
    <tr>
      <th>Ore</th>
      <th>Crystal</th>
      <th>Space cash</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tradereports.each do |tradereport| %>
      <tr>
        <td><%= tradereport.ore %></td>
        <td><%= tradereport.crystal %></td>
        <td><%= tradereport.space_cash %></td>
        <td><%= link_to 'Show', tradereport %></td>
        <td><%= link_to 'Edit', edit_tradereport_path(tradereport) %></td>
        <td><%= link_to 'Destroy', tradereport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tradereport', new_tradereport_path %>
