<p>
  <strong>Ore:</strong>
  <%= @tradereport.ore %>
</p>

<p>
  <strong>Crystal:</strong>
  <%= @tradereport.crystal %>
</p>

<p>
  <strong>Space cash:</strong>
  <%= @tradereport.space_cash %>
</p>

<%= link_to 'Edit', edit_tradereport_path(@tradereport) %> |
<%= link_to 'Back', tradereports_path %>
