<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Betreff" %><br>
    <%= f.text_field :subject %>
  </div>

  <div class="field">
    <%= f.label "Text" %><br>
    <%= f.text_area :text %>
  </div>
  
  <div class="field">
    <%= f.label "Empfänger" %><br>
    <%= collection_select(:ingredient, :supplier_ids, 
              @allianceusers, 
              :id, :username,
              {:selected => @message.user_ids, :include_blank => false}, 
              {:multiple => true}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
