<p id="notice"><%= notice %></p>
<p>
	<strong>Betreff:</strong>
	<%= @message.subject %>
</p>	
<p>
  <strong>Nachricht:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Von:</strong>
  <%= @message.sender.username %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
