<p id="notice"><%= notice %></p>


<p>
  <strong>Betreff:</strong>
  <%= @message.subject %>
</p>

<p>
  <strong>Nachricht:</strong>
  <%= @message.text %>
</p>

<p>
  <strong>Absender:</strong>
  <%= @message.user.username %>
</p>

<%= link_to 'Zurück', messages_path %>
