<p id="notice"><%= notice %></p>
<p>
	<strong>Betreff:</strong>
	<%= text_field_tag 'subj', @message.subject, class: 'readmsgarea', disabled: true %>
</p>	
<p>
  <strong>Nachricht:</strong>
    <div class='well'>
      <% if @message.sender==nil %>
        <%=@message.body.html_safe%>
      <% else %>
        <%=@message.body%>
      <% end %>
    </div>
</p>

<p>
  <strong>Von:</strong>
    <% if @message.sender!=nil %>
      <%= @message.sender.username %>
    <% else %>
      System
    <% end %>
</p>


<%= link_to 'Antworten', new_message_path+'/?recipient='+@message.sender.username , class: 'label label-success', :style=>'color:#FFFFFF;' if @message.sender!=nil %>
<%= link_to 'Löschen', @message, method: :delete, class: 'label label-important', data: { confirm: 'Bist du dir sicher?' }, :style=>'color:#FFFFFF;' %>