<%= form_for(@ship_building_queue) do |f| %>
  <% if @ship_building_queue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ship_building_queue.errors.count, "error") %> prohibited this ship_building_queue from being saved:</h2>

      <ul>
      <% @ship_building_queue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :planet_id %><br>
    <%= f.number_field :planet_id %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.number_field :end_time %>
  </div>
  <div class="field">
    <%= f.label :ship_id %><br>
    <%= f.number_field :ship_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
