<h1>Listing battlereports</h1>

<table>
  <thead>
    <tr>
      <th>Defender planet</th>
      <th>Attacker planet</th>
      <th>Fightdate</th>
      <th>Stolen ore</th>
      <th>Stolen crystal</th>
      <th>Stolen space cash</th>
      <th>Defender</th>
      <th>Attacker</th>
      <th>Winner</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @battlereports.each do |battlereport| %>
      <tr>
        <td><%= battlereport.defender_planet_id %></td>
        <td><%= battlereport.attacker_planet_id %></td>
        <td><%= battlereport.fightdate %></td>
        <td><%= battlereport.stolen_ore %></td>
        <td><%= battlereport.stolen_crystal %></td>
        <td><%= battlereport.stolen_space_cash %></td>
        <td><%= battlereport.defender_id %></td>
        <td><%= battlereport.attacker_id %></td>
        <td><%= battlereport.winner_id %></td>
        <td><%= link_to 'Show', battlereport %></td>
        <td><%= link_to 'Edit', edit_battlereport_path(battlereport) %></td>
        <td><%= link_to 'Destroy', battlereport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Battlereport', new_battlereport_path %>
