
<p>
  <strong>Defender planet:</strong>
  <%= @battlereport.defender_planet_id %>
</p>

<p>
  <strong>Attacker planet:</strong>
  <%= @battlereport.attacker_planet_id %>
</p>

<p>
  <strong>Fightdate:</strong>
  <%= @battlereport.fightdate %>
</p>

<p>
  <strong>Stolen ore:</strong>
  <%= @battlereport.stolen_ore %>
</p>

<p>
  <strong>Stolen crystal:</strong>
  <%= @battlereport.stolen_crystal %>
</p>

<p>
  <strong>Stolen space cash:</strong>
  <%= @battlereport.stolen_space_cash %>
</p>

<p>
  <strong>Defender:</strong>
  <%= @battlereport.defender_id %>
</p>

<p>
  <strong>Attacker:</strong>
  <%= @battlereport.attacker_id %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @battlereport.winner_id %>
</p>

<%= link_to 'Edit', edit_battlereport_path(@battlereport) %> |
<%= link_to 'Back', battlereports_path %>
