<%= form_for(@colonisationreport) do |f| %>
  <% if @colonisationreport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@colonisationreport.errors.count, "error") %> prohibited this colonisationreport from being saved:</h2>

      <ul>
      <% @colonisationreport.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mode %><br>
    <%= f.number_field :mode %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
