<h1>Listing colonisationreports</h1>

<table>
  <thead>
    <tr>
      <th>Mode</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @colonisationreports.each do |colonisationreport| %>
      <tr>
        <td><%= colonisationreport.mode %></td>
        <td><%= link_to 'Show', colonisationreport %></td>
        <td><%= link_to 'Edit', edit_colonisationreport_path(colonisationreport) %></td>
        <td><%= link_to 'Destroy', colonisationreport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Colonisationreport', new_colonisationreport_path %>
