<h1>Your Fleets</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Fleet ID</th>
      <th>Mission</th>
      <th>Current Location</th>
      <th>Current Target</th>
    </tr>
  </thead>

  <tbody>
    <% @fleets.each do |fleet| %>
      <tr>
        <td><%= fleet.id %></td>
        <td><%= fleet.mission.id %></td>
        <% if fleet.mission.id == 1 %>
          <td><%= fleet.origin_planet.id %></td>
          <td> -based- </td>
        <% else %>
          <td> -on a flight- </td>
          <td><% fleet.target_planet.id %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% unless @approaching_fleets.empty? %>

<h1>Approaching Fleets</h1>
<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Mission</th>
      <th>Target</th>
      <th>approaches in</th>
    </tr>
  </thead>

  <tbody>
    <% @approaching_fleets.each do |fleet| %>
      <% if fleet.mission.id == 3 %>
        <% mission = "Attack" %>
        <tr class="error">
      <% elsif fleet.mission.id == 6 %>
        <% mission = "Transport" %>
        <tr class="warning">
      <% elsif fleet.mission.id == 4 %>
        <% mission = "Travel" %>
        <tr class="success">
      <% end %>
        <td><%= fleet.user.username %></td>
        <td><%= mission %></td>
        <td><%= fleet.target_planet.name %> (<%= fleet.target_planet.id %>)</td>
        <td><%= Time.at fleet.arrival_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h1>No approaching fleets</h1>
<% end %>