<% unless @based_fleets.empty? %>
  <h1>Deine stationierten Flotten</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Planet</th>
        <th>Schiffe</th>
        <th>Fracht</th>
        <th>Entladen</th>
      </tr>
    </thead>

    <tbody>
      <% @based_fleets.each do |fleet| %>
        <tr>
          <td><%= fleet.id %></td>
          <td><%= fleet.origin_planet.name %></td>
          <td>
            <% if fleet.get_amount_of_ships == 0 %>
              keine Schiffe vorhanden
            <% else %>
              <a type="button" fleet="<%=fleet.id%>" class="btn btn-link ship-info"><i class="icon-chevron-down"></i></a>
            <% end %>        
          </td>
          <td>
            <a type="button" class="btn btn-link ress-popover" data-trigger="hover" data-html="true" data-placement="right" data-content="<ul><li>Erz: <%=fleet.ore%></li><li>Kristall: <%=fleet.crystal%></li><li>SpaceCash<sup>&copy;</sup>: <%=fleet.credit%></li></ul>"><i class="icon-info-sign"></i></a>
          </td>
          <td>
            <% if fleet.ore != 0 || fleet.crystal != 0 %>
            <button planet="<%=fleet.start_planet.id%>" class="fleet-unload" fleet="<%=fleet.id%>" type="button" class="btn btn-default">
              <i class="icon-arrow-right"></i>
            <% else %>
            ---
            <% end %>
            </button>
          </td>
        </tr>
        <% unless fleet.get_amount_of_ships == 0 %>
          <tr>
            <td colspan="5">
              <div class="info-<%= fleet.id %>" style="display:none">
                <table class"table table-condensed">
                  <thead>
                    <tr>
                      <th>Schiffsname</th>
                      <th>Angriff</th>
                      <th>Verteidigung</th>
                      <th>Geschwindigkeit</th>
                      <th>Ladekapazit채t</th>
                      <th>Anzahl</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% fleet.get_ships.each do |ship, amount| %>
                      <tr>
                        <td><p class="image-popover" ship="<%= ship.id %>" data-trigger="hover" data-html="true" data-placement="left"><%= ship.name %></p></td>
                        <td><%= ship.offense %></td>
                        <td><%= ship.defense %></td>
                        <td><%= ship.velocity %></td>
                        <td><%= ship.ressource_capacity %></td>
                        <td><%= amount %></td>
                      </tr>
                    <% end%>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        <% end%>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3>Keine Stationierten Flotten</h3>
<% end %>

<hr>

<% unless @flying_fleets.empty? %>
  <h1>Deine Flotten auf Mission</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Heimat</th>
        <th>Mission</th>
        <th>Ziel</th>
        <th>Ankunftszeit</th>
        <th>Schiffe</th>
        <th>Fracht</th>
        <th>Abbruch</th>
      </tr>
    </thead>

    <tbody>
      <% @flying_fleets.each do |fleet| %>
        <tr>
          <td><%= fleet.id %></td>
          <td><%= fleet.origin_planet.name %></td>
          <% if fleet.target_planet == fleet.origin_planet %>
            <td>R체ckkehr</td>
          <% elsif fleet.mission.id == 2 %>
            <td>Kolonialisieren</td>
          <% elsif fleet.mission.id == 3 %>
            <td>Angriff</td>
          <% elsif fleet.mission.id == 4 %>
            <td>Reise</td>
          <% elsif fleet.mission.id == 5 %>
            <td>Spionage</td>
          <% else %>
            <td>Transport</td>
          <% end %>
          <td><%= fleet.target_planet.name %></td>
          <td>
            <% if Time.now < Time.at(fleet.arrival_time) %>
              <%= distance_of_time_in_words(Time.now, Time.at(fleet.arrival_time), include_seconds: true) %>
            <% else %>
              jetzt...
            <% end %>
          </td>
           <td>
            <a type="button" fleet="<%=fleet.id%>" class="btn btn-link ship-info"><i class="icon-chevron-down"></i></a>
          </td>
          <td>
            <a type="button" class="btn btn-link ress-popover" data-trigger="hover" data-html="true" data-placement="right" data-content="<ul><li>Erz: <%=fleet.ore%></li><li>Kristall: <%=fleet.crystal%></li><li>SpaceCash<sup>&copy;</sup>: <%=fleet.credit%></li></ul>"><i class="icon-info-sign"></i></a>
          </td>
          <td>
            <% unless fleet.target_planet == fleet.origin_planet %>
              <button class="fleet-breakup" fleet="<%=fleet.id%>" type="button" class="btn btn-default">
                <i class="icon-remove"></i>
              </button>
            <% else %>
              ---   
            <% end %>
          </td>
        </tr>
        <% unless fleet.get_amount_of_ships == 0 %>
        <tr>
          <td colspan="8">
            <div class="info-<%= fleet.id %>" style="display:none">
                <table class"table table-condensed">
                  <thead>
                    <tr>
                      <th>Schiffsname</th>
                      <th>Angriff</th>
                      <th>Verteidigung</th>
                      <th>Geschwindigkeit</th>
                      <th>Ladekapazit채t</th>
                      <th>Anzahl</th>
                    </tr>
                  </thead>
                  <tbody>
                <% fleet.get_ships.each do |ship, amount| %>
                  <tr>
                    <td><%= ship.name %></td>
                    <td><%= ship.offense %></td>
                    <td><%= ship.defense %></td>
                    <td><%= ship.velocity %></td>
                    <td><%= ship.ressource_capacity %></td>
                    <td><%= amount %></td>
                  </tr>
                  <% end%>
                  </tbody>
                </table>
              </div>
          </td>
        </tr>
        <% end%>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3>Keine Flotten auf Mission</h3>
<% end %>

<hr>

<% unless @approaching_fleets.empty? %>
  <h1>Flotten auf dem Weg zu dir</h1>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Mission</th>
        <th>Ziel</th>
        <th>Ankunftszeit</th>
      </tr>
    </thead>

    <tbody>
      <% @approaching_fleets.each do |fleet| %>
        <% if fleet.target_planet == fleet.origin_planet %>
          <% mission = "R체ckkehr" %>        
        <% elsif fleet.mission.id == 3 %>
          <% mission = "Attack" %>
          <tr class="error">
        <% elsif fleet.mission.id == 6 %>
          <% mission = "Transport" %>
          <tr class="warning">
        <% elsif fleet.mission.id == 4 %>
          <% mission = "Travel" %>
          <tr class="success">
        <% end %>
          <td><%= fleet.user.username %></td>
          <td><%= mission %></td>
          <td><%= fleet.target_planet.name %></td>
          <td>
          <% if Time.now < Time.at(fleet.arrival_time) %>
            <%= distance_of_time_in_words(Time.now, Time.at(fleet.arrival_time), include_seconds: true) %>
          <% else %>
            jetzt...
          <% end %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3>Keine Schiffe auf dem Weg zu dir</h3>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    
    $(".ress-popover").popover({title:"Ressourcen"});

    $(".image-popover").popover({title:"Ressourcen", content: function(){
        return '<img src="images/ships/'+$(this).attr("ship")+'.png"/>';
      }
    });

    $(".fleet-unload").on("click", function(){
      fleet_id = $(this).attr("fleet");
      planet_id = $(this).attr("planet");
      $.getJSON("/json/unload?fleet="+fleet_id+"&planet="+planet_id, function(data){
        if (data.ok == 1){
          window.location.reload()
        }
      });
    });

    $(".fleet-breakup").on("click", function(){
      fleet_id = $(this).attr("fleet");
      $.getJSON("/json/breakup?fleet="+fleet_id, function(data){
        if (data.ok == 1){
          window.location.reload()
        }
      });      

    });

    $(".ship-info").on("click", function(){
      id = $(this).attr("fleet");
      if ($(".info-"+id).css("display") == "none"){
        $('a[fleet='+id+']').html('<i class="icon-chevron-up"></i>');
      }
      else {
        $('a[fleet='+id+']').html('<i class="icon-chevron-down"></i>');
      }
      $(".info-"+id).animate({ height: 'toggle', opacity: 'toggle' }, 'slow');
    });

  });
</script>