<%= form_for(@planet) do |f| %>
  <% if @planet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planet.errors.count, "error") %> prohibited this planet from being saved:</h2>

      <ul>
      <% @planet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :z %><br>
    <%= f.number_field :z %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :special%><br>
    <%= f.number_field :special %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :ore %><br>
    <%= f.number_field :ore %>
  </div>
  <div class="field">
    <%= f.label :maxore %><br>
    <%= f.number_field :maxore %>
  </div>
  <div class="field">
    <%= f.label :crystal %><br>
    <%= f.number_field :crystal %>
  </div>
  <div class="field">
    <%= f.label :maxcrystal %><br>
    <%= f.number_field :maxcrystal %>
  </div>
  <div class="field">
    <%= f.label :energy %><br>
    <%= f.number_field :energy %>
  </div>
  <div class="field">
    <%= f.label :maxenergy %><br>
    <%= f.number_field :maxenergy %>
  </div>
  <div class="field">
    <%= f.label :population %><br>
    <%= f.number_field :population %>
  </div>
  <div class="field">
    <%= f.label :maxpopulation %><br>
    <%= f.number_field :maxpopulation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
