<% a = @planet.special.to_s%>
<%test=('/images/planets/planet'+a+'bg.png').to_s %>
<div class="planet_background">
<div class="planetbox" style='background-image:url("<%=test %>");background-repeat:no-repeat;background-size:<%= (@planet.size / 200).to_i%>px <%= (@planet.size / 200).to_i%>px ;background-position:center;'>

  <div class="ressources">

    <div class="ressource_item_anzeige" title="Bevölkerung">
      <%= image_tag('/images/icons/menschen32px.png') %>

      <% if @planet.maxpopulation > 9999 && @planet.population > 9999 %>
          <span id="my_ressources_population"><%= @planet.population / 1000%> <%= "k" %></span> / <%= @planet.maxpopulation / 1000%> <%= "k" %>
      <%else if @planet.maxpopulation > 9999 && @planet.population < 10000 %>
              <span id="my_ressources_population"><%= @planet.population%></span> / <%= @planet.maxpopulation / 1000%> <%= "k" %>
          <%else%>
              <span id="my_ressources_population"><%= @planet.population%></span> / <%= @planet.maxpopulation%>
          <% end %>
      <% end%>
    </div>

    <div class="ressource_item_anzeige" title="Energie">
      <%= image_tag('/images/icons/energy32px.png') %>

      <% if @planet.maxenergy > 9999 && @planet.energy > 9999%>
          <span id="my_ressources_energy"><%= @planet.energy/ 1000%> <%= "k" %></span> / <%= @planet.maxenergy / 1000%> <%= "k" %>
      <% else if @planet.maxenergy > 9999 && @planet.energy < 10000%>
              <span id="my_ressources_energy"><%= @planet.energy%></span> / <%= @planet.maxenergy / 1000%> <%= "k" %>
          <%else%>
              <span id="my_ressources_energy"><%= @planet.energy%></span> / <%= @planet.maxenergy%>
          <% end %>
      <%end%>
    </div>

    <div class="ressource_item_anzeige" title="Eisen">
      <%= image_tag('/images/icons/eisen32px.png') %>

      <% if @planet.maxore > 9999 && @planet.ore > 9999%>
          <span id="my_ressources_ore"><%= @planet.ore/ 1000%> <%= "k" %></span> / <%= @planet.maxore / 1000%> <%= "k" %>
      <% else if @planet.maxore > 9999 && @planet.ore < 10000%>
              <span id="my_ressources_ore"><%= @planet.ore%></span> / <%= @planet.maxore / 1000%> <%= "k" %>
          <%else%>
              <span id="my_ressources_ore"><%= @planet.ore%></span> / <%= @planet.maxore%>
          <% end %>
      <%end%>
    </div>

    <div class="ressource_item_anzeige" title="Kristalle">
      <%= image_tag('/images/icons/kristall_blau32px.png') %>

      <% if @planet.maxcrystal > 9999 && @planet.crystal > 9999%>
          <span id="my_ressources_crystal"><%= @planet.crystal/ 1000%> <%= "k" %></span> / <%= @planet.maxcrystal / 1000%> <%= "k" %>
      <% else if @planet.maxcrystal > 9999 && @planet.crystal < 10000%>
              <span id="my_ressources_crystal"><%= @planet.crystal%></span> / <%= @planet.maxcrystal / 1000%> <%= "k" %>
          <%else%>
              <span id="my_ressources_crystal"><%= @planet.crystal%></span> / <%= @planet.maxcrystal%>
          <% end %>
      <%end%>

    </div>

    <span class="hide_me_first rename_form" id="rename_planet_form">

      <%= form_for("planets", :url => "/planets/rename_planet") do |f| %>
          <%= f.text_field :planet_name, :value => @planet.name, :class => "rename_form_planet_name" %>
          <%= f.hidden_field :id, :value => @planet.id %>
          <%= f.submit '!', class: 'btn rename' %>
      <% end %>

      <span onclick="javascript:toggleRenameForm();" class="rename_closer">X
      </span>

    </span>
    <span id="planet_name" class="planet_name" onclick="javascript:toggleRenameForm();">
      <%= @planet.name %>
    </span>

  </div>







  <div class="buildingsanzeige">
    <% b = @planet.buildings_to_hash%>
    <%  b.each do |h| %>

        <div class="buildingpos buildingpos<%=h[0]%>" title="Name: <%= h[0]%>, Level:<%= h[1]%>"
             <% fake_lvl = h[1] %>
             <% if h[0].to_s == "Oremine" && h[1] != 0%>
             <% if h[1]%2 == 0 then fake_lvl = (h[1]/ 2) else fake_lvl = (h[1] / 2) + 1 end %>
             <%end%>
             onclick="javascript:showBuildingInfo('<%= h[0].to_s %>')">

          <% if h[1] != 0 && (h[0].to_s == "Oremine" || h[0].to_s == "Headquarter" || h[0].to_s == "Powerplant")%>
              <%= image_tag('/images/buildings/'+ h[0].to_s + '/' + h[0].to_s + fake_lvl.to_s+'.png')%>
          <% else if h[1] == 0%>
                  <%= image_tag('/images/buildings/underconstruction.png')%>
              <% else %>
                  <%= image_tag('/images/buildings/'+ h[0].to_s + '/' + h[0].to_s + '.png')%>
              <% end%>
          <%end%>
          <!-- <div id="building_info_<%= h[0].to_s %>">
            
             <p class="building_info_field">Informationen dazu: <%= h[0].to_s %><br />
                 Mehr... /p>
            </div> -->
        </div>
    <%end%>
  </div>

  <div>



  <div class="planetinfos" id="planetinfos">

    <a class="pfeil" title="Zum Sonnensystem" href="<%= sunsystem_path(@planet.sunsystem)%>"> <div>
        ↶
    </div></a>

   <div class="close_building_info pfeil" title="Gebäudeinformation verstecken" id="close_building_info" onclick="javascript:showBuildingInfo('');">
        x
    </div>
    
   <div id="planet_infos_shower">
    <div class="planet_info_anzeige">

      <strong>User:</strong>
      <% if @planet.user.present? %>
          <%= @planet.user.username  %>
      <% else %>
          Nicht besetzt
      <% end %>

    </div>

    <div class="planet_info_anzeige">

      <strong>Z-Koordinate:</strong>
      <%= @planet.z %>

    </div>

    <div class="planet_info_anzeige">

      <strong>Name:</strong>
      <%= @planet.name %>

    </div>

    <div class="planet_info_anzeige">

      <%= @planet.get_info%>

    </div>

    <div class="planet_info_anzeige">

      <strong>Groesse:</strong>
      <%= @planet.size %>

    </div>

    <div class="planet_info_anzeige">

      <strong>Produktion: +</strong>
      <%= @planet.get_production(:Oremine) %> <%= image_tag('/images/icons/eisen32px.png') %>
      +
      <%= @planet.get_production(:City) %> <%= image_tag('/images/icons/menschen32px.png') %>
      -
      <%= @planet.energy_usage %> <%= image_tag('/images/icons/energyusage32px.png') %>
      +
      <%= @planet.get_production(:Powerplant) %> <%= image_tag('/images/icons/energy32px.png') %> 
      +
      <%= @planet.get_production(:Crystalmine) %> <%= image_tag('/images/icons/kristall_blau32px.png') %>
      +
      <%= @planet.get_production(:Headquarter) %> <%= image_tag('/images/icons/spacecash.png') %>

      <%if @planet.energy_usage > @planet.get_production(:Powerplant)%>
      <span style="color:red; font-weight:bold">OUT OF ENERGY!! WE NEED MORE PYLONS </span> 
      <%end%>

    </div>
   </div>
  </div>

    <!-- <% @planet.upgradable_buildings_to_hash.each do |x| %>
      <%= x.to_s %>, 
    <% end %> -->
    <% b = @planet.buildings_to_hash%>
    <%  b.each do |h| %>
    <% bt = Buildingtype.where(name: h[0].to_s, level: h[1] +1).first %>

    <% if bt.nil? then "Maximale Stufe bereits erreicht!" else %>
    <div class= "upgrade_building_btn building_info" id= "building_info_<%=h[0]%>" >
       
      <p class="building_info_field">Gebäude: <%= h[0].to_s %> Level: <%= h[1] %><br />
        <% btt = Buildingtype.where(name: h[0].to_s, level: h[1]).first %>
        <%unless btt.nil? %>
            Produktion von Resourcen: <%=btt.production%>
        <%end%>
        <hr/>
      Nächstes Level:<br/>
      Kosten: <%= bt.build_cost_ore %> Eisen,
               <%= bt.build_cost_money %> Spacecash,
               <%= bt.build_cost_population %> Einwohner,
               <%= bt.build_cost_crystal %> Kristall,
               <%= bt.energyusage %> Energieverbrauch <br/>
       Bauzeit:<%= bt.build_time/60 %>:<%=bt.build_time%60 %> Minuten<br/>
       Produktion: <%= bt.production%>
      </p>

      <% o = 0 %>
      <% if @planet.under_construction == 0 && @planet.user.id == current_user.id then%>
          <% if @planet.user.id == current_user.id %>
              <% a = @planet.upgradable_buildings_to_hash%>
              <% a.each do |i|%>
                  <% if i.to_s == bt.name%>
                      <% o = 1%>
                  <%else%>
                  <%end%>
              <%end%>
              <%if o == 1%>
                  <%= button_to 'Upgrade', {:controller => "planets", :action => "upgrade_building", :btype => h[0].to_s, :id => @planet.id } , :method => :post, data: { confirm: 'Möchtest du dein ' + h[0].to_s + ' aufwerten?' }, class: "btn btn-success" %>
              <%else%>
                  <%= "Gebäudevoraussetzungen:" %>

                 <% utz = ""
                    bt.requirements.uniq.each do|t|
                    utz = utz + t.name.to_s+" "+t.level.to_s+", "
                 %>

                  <%end%>
                  <%= if utz.nil? || utz.length < 4 then "keine Voraussetzungen" else utz[0..-3] end %>

              <%end%>



          <%end%>

      <%else%>
      <%end%>





     <!-- <% if @planet.under_construction == 0 && @planet.user.id == current_user.id then%>
      <%= button_to 'Upgrade', {:controller => "planets", :action => "upgrade_building", :btype => h[0].to_s, :id => @planet.id } , :method => :post, data: { confirm: 'Möchtest du dein ' + h[0].to_s + ' aufwerten?' }, class: "btn btn-success" %>
    <% else %>
      

    <% end %>  -->
  </div>

  <%end%>
  <%end%> 
  <% if @planet.under_construction > 0 && @planet.user.id == current_user.id then %>
  <div class="build_progress">
    <% b = Buildingtype.find(@planet.under_construction)%>
    <div class="progress progress-striped active">
      <span style="font-weight: bold"><%= "Baue Gebäude "  %><%=b.name%> der Stufe <%=b.level%></span>
      <div id='auto-updating-progressbar' class="bar"></div>
    </div>
    <div>
    <%= button_to 'Abbrechen', {:controller=>"planets", :action=>"abort_upgrade", :pid=>@planet.id, :bid=>@planet.under_construction}, :onclick => "return confirm('Möchtest du den Gebäudebau wirklich abbrechen?')",:method=>:post, class: "btn btn-danger" %>
    </div>
  </div>

  <% end %>
  </div>
<!--
  <div>
    <% @planet.upgradable_buildings_to_hash.each do |x| %>
      <%= x.to_s %>, 
      <% end %>
  </div>
-->
</div>
</div>
<script type='text/javascript'>
    <% building =  @planet.under_construction %>;
    var building = <%=building%>

    var aktiv_bar;
    var aktiv_reload;

    function fetch_finished(){
        $.getJSON('/json/planet_page_refresh.json?id='+<%=@planet.id%>, function(data) {
            var items = [];
            $.each(data, function(key, val) {
                items.push(val);
            });
            if (items[0] == 0){
                //window.clearInterval(aktiv_reload);
                location.reload();
            }
        });
    };

    if(building != 0){   

        var start = <%= @planet.start_construction_at.to_i %>;
        var gone = <%=Time.now.to_i%> - start; 
        var end  = <%= @planet.get_builttime(building) + 1 if building!=0  %>;

        function update_progressbar(){
            if (gone >= end) {
                window.clearInterval(aktiv_bar);
                aktiv_reload = setInterval(fetch_finished, 1000);
            };

            gone += 0.25;
            var p = (gone/end)*100;
            var d = document.getElementById('auto-updating-progressbar');
            d.style.width = (p+"%");

            if (gone <= end) {
              window.clearInterval(update_progressbar);
            };
        };

        aktiv_bar = window.setInterval(update_progressbar, 250);

  };


</script>
