<p id="notice"><%= notice %></p>

<p>
  <strong>Z:</strong>
  <%= @planet.z %>
</p>

<p>
  <strong>Name:</strong>
  <%= @planet.name %>
</p>

<p>
  <strong>Spezialisierung:</strong>
  <%= @planet.spezialisierung %>
</p>

<p>
  <strong>Groesse:</strong>
  <%= @planet.groesse %>
</p>

<p>
  <strong>Eisenerz:</strong>
  <%= @planet.eisenerz %>
</p>

<p>
  <strong>Maxeisenerz:</strong>
  <%= @planet.maxeisenerz %>
</p>

<p>
  <strong>Kristalle:</strong>
  <%= @planet.kristalle %>
</p>

<p>
  <strong>Maxkristalle:</strong>
  <%= @planet.maxkristalle %>
</p>

<p>
  <strong>Energie:</strong>
  <%= @planet.energie %>
</p>

<p>
  <strong>Maxenergie:</strong>
  <%= @planet.maxenergie %>
</p>

<p>
  <strong>Einwohner:</strong>
  <%= @planet.einwohner %>
</p>

<p>
  <strong>Maxeinwohner:</strong>
  <%= @planet.maxeinwohner %>
</p>

<%= link_to 'Edit', edit_planet_path(@planet) %> |
<%= link_to 'Back', planets_path %>
