<p id="notice"><%= notice %></p>


<div class="planetbox">
  <div class="ressources">

    <div class="ressource_item_anzeige" title="Bevölkerung">
      <%= image_tag('/images/icons/menschen32px.png') %>
      <%= @planet.population %> / <%= @planet.maxpopulation %>
    </div>

    <div class="ressource_item_anzeige" title="Energie">
      <%= image_tag('/images/icons/energy32px.png') %>
      <%= @planet.energy %> / <%= @planet.maxenergy %>
    </div>

    <div class="ressource_item_anzeige" title="Eisen">
      <%= image_tag('/images/icons/eisen32px.png') %>
      <%= @planet.ore %> / <%= @planet.maxore %>
    </div>

    <div class="ressource_item_anzeige" title="Kristalle">
      <%= image_tag('/images/icons/kristall_blau32px.png') %>
      <%= @planet.crystal %> / <%= @planet.maxcrystal  %>
    </div>
  </div>




  <div class="planetinfos">


    <div class="planet_info_anzeige">

      <div><%= link_to '↶', sunsystem_path(@planet.sunsystem) %></div>

    </div>

    <div class="planet_info_anzeige">

      <strong>User:</strong>
      <% if @planet.user.present? %>
          <%= @planet.user.username  %>
      <% else %>
          Nicht besetzt
      <% end %>

    </div>

    <div class="planet_info_anzeige">

      <strong>Z-Koordinate:</strong>
      <%= @planet.z %>

    </div>

    <div class="planet_info_anzeige">

      <strong>Name:</strong>
      <%= @planet.name %>

    </div>

    <div class="planet_info_anzeige">

      <strong>Spezialisierung:</strong>
      <%= @planet.special%>

    </div>

    <div class="planet_info_anzeige">

      <strong>Groesse:</strong>
      <%= @planet.size %>

    </div>

  </div>



  <div class="buildingsanzeige">
    <% b = @planet.buildings_to_hash%>
    <%  b.each do |h| %>
        <div class="buildingpos buildingpos<%=h[0]%>" title="Name: <%= h[0]%>, Level:<%= h[1]%>"
            onclick="javascript:showBuildingInfo('<%= h[0].to_s %>')">
            <%= image_tag('/images/icons/eisen32px.png')%>
            <div id="building_info_<%= h[0].to_s %>">
            <%= button_to 'Upgrade', {:controller => "planets", :action => "upgrade_building", :btype => h[0].to_s, :id => @planet.id } , :method => :post, data: { confirm: 'Möchtest du dein ' + h[0].to_s + ' aufwerten?' } %>
              <p class="building_info_field">Informationen dazu: <%= h[0].to_s %><br />
                 Mehr...</p>
            </div>
        </div>
    <%end%>
    </div>

  <div>
    <% @planet.upgradable_buildings_to_hash.each do |x| %>
      <%= x.to_s %>, 
      <% end %>
  </div>

</div>
