<p id="notice"><%= notice %></p>

<p class="ressourcenanzeige">
  <strong>Z:</strong>
  <%= @planet.z %>
</p>

<p class="ressourcenanzeige">
  <strong>Name:</strong>
  <%= @planet.name %>
</p>

<p class="ressourcenanzeige">
  <strong>Spezialisierung:</strong>
  <%= @planet.special%>
</p>

<p class="ressourcenanzeige">
  <strong>Groesse:</strong>
  <%= @planet.size %>
</p>

<!--
<p>
  <strong>Eisenerz:</strong>
  <%= @planet.ore %>
</p>

<p>
  <strong>Maxeisenerz:</strong>
  <%= @planet.maxore %>
</p>
-->

<p class="ressourcenanzeige">

  <strong>Eisenerz:</strong>
  <%= @planet.ore %> / <%= @planet.maxore %>

</p>

<!--
<p>
  <strong>Kristalle:</strong>
  <%= @planet.crystal %>
</p>

<p>
  <strong>Maxkristalle:</strong>
  <%= @planet.maxcrystal %>
</p>
-->
<p class="ressourcenanzeige">
  <strong>Kristalle:</strong>
  <%= @planet.crystal %> / <%= @planet.maxcrystal  %>
</p>

<!--
<p>
  <strong>Energie:</strong>
  <%= @planet.energy %>
</p>

<p>
  <strong>Maxenergie:</strong>
  <%= @planet.maxenergy %>
</p>
-->

<p class="ressourcenanzeige">
  <strong>Energie:</strong>
  <%= @planet.energy %> / <%= @planet.maxenergy %>
</p>

<!--
<p>
  <strong>Einwohner:</strong>
  <%= @planet.population %>
</p>

<p>
  <strong>Maxeinwohner:</strong>
  <%= @planet.maxpopulation %>
</p>
-->
<p class="ressourcenanzeige">
  <strong>Einwohner:</strong>
  <%= @planet.population %> / <%= @planet.maxpopulation %>
</p>



<p class="ressourcenanzeige">
  <strong>User:</strong>
  <% if @planet.user.present? %>
     <%= @planet.user.username  %>
  <% else %>
     Nicht besetzt
  <% end %>
</p>


<%= link_to 'Edit', edit_planet_path(@planet) %> |
<%= link_to 'Back', planets_path %>
