<p id="notice"><%= notice %></p>

<p>
  <strong>Z:</strong>
  <%= @planet.z %>
</p>

<p>
  <strong>Name:</strong>
  <%= @planet.name %>
</p>

<p>
  <strong>Spezialisierung:</strong>
  <%= @planet.special%>
</p>

<p>
  <strong>Groesse:</strong>
  <%= @planet.size %>
</p>

<p>
  <strong>Eisenerz:</strong>
  <%= @planet.ore %>
</p>

<p>
  <strong>Maxeisenerz:</strong>
  <%= @planet.maxore %>
</p>

<p>
  <strong>Kristalle:</strong>
  <%= @planet.crystal %>
</p>

<p>
  <strong>Maxkristalle:</strong>
  <%= @planet.maxcrystal %>
</p>

<p>
  <strong>Energie:</strong>
  <%= @planet.energy %>
</p>

<p>
  <strong>Maxenergie:</strong>
  <%= @planet.maxenergy %>
</p>

<p>
  <strong>Einwohner:</strong>
  <%= @planet.population %>
</p>

<p>
  <strong>Maxeinwohner:</strong>
  <%= @planet.maxpopulation %>
</p>

<%= link_to 'Edit', edit_planet_path(@planet) %> |
<%= link_to 'Back', planets_path %>
