<%= form_for(@spyreport) do |f| %>
  <% if @spyreport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spyreport.errors.count, "error") %> prohibited this spyreport from being saved:</h2>

      <ul>
      <% @spyreport.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :energy %><br>
    <%= f.number_field :energy %>
  </div>
  <div class="field">
    <%= f.label :space_cash %><br>
    <%= f.number_field :space_cash %>
  </div>
  <div class="field">
    <%= f.label :population %><br>
    <%= f.number_field :population %>
  </div>
  <div class="field">
    <%= f.label :ore %><br>
    <%= f.number_field :ore %>
  </div>
  <div class="field">
    <%= f.label :crystall %><br>
    <%= f.number_field :crystall %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
