<h1>Listing spyreports</h1>

<table>
  <thead>
    <tr>
      <th>Energy</th>
      <th>Space cash</th>
      <th>Population</th>
      <th>Ore</th>
      <th>Crystall</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @spyreports.each do |spyreport| %>
      <tr>
        <td><%= spyreport.energy %></td>
        <td><%= spyreport.space_cash %></td>
        <td><%= spyreport.population %></td>
        <td><%= spyreport.ore %></td>
        <td><%= spyreport.crystall %></td>
        <td><%= link_to 'Show', spyreport %></td>
        <td><%= link_to 'Edit', edit_spyreport_path(spyreport) %></td>
        <td><%= link_to 'Destroy', spyreport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spyreport', new_spyreport_path %>
