<p id="notice"><%= notice %></p>

<p>
  <strong>Energy:</strong>
  <%= @spyreport.energy %>
</p>

<p>
  <strong>Space cash:</strong>
  <%= @spyreport.space_cash %>
</p>

<p>
  <strong>Population:</strong>
  <%= @spyreport.population %>
</p>

<p>
  <strong>Ore:</strong>
  <%= @spyreport.ore %>
</p>

<p>
  <strong>Crystall:</strong>
  <%= @spyreport.crystall %>
</p>

<%= link_to 'Edit', edit_spyreport_path(@spyreport) %> |
<%= link_to 'Back', spyreports_path %>
