<%= form_for(@rank) do |f| %>
  <% if @rank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rank.errors.count, "error") %> prohibited this rank from being saved:</h2>

      <ul>
      <% @rank.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Kicken" %><br>
    <%= f.check_box :can_kick %>
  </div>
  <div class="field">
    <%= f.label "Rundmail" %><br>
    <%= f.check_box :can_massmail %>
  </div>
  <div class="field">
    <%= f.label "Beschreibung ändern" %><br>
    <%= f.check_box :can_change_description %>
  </div>
  <div class="field">
    <%= f.label "Ränge editieren" %><br>
    <%= f.check_box :can_edit_ranks %>
  </div>
  <div class="field">
    <%= f.label "Einladen" %><br>
    <%= f.check_box :can_invite %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div> 
<% end %>
