<%= form_for(@rank) do |f| %>
  <% if @rank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rank.errors.count, "error") %> prohibited this rank from being saved:</h2>

      <ul>
      <% @rank.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :can_kick %><br>
    <%= f.check_box :can_kick %>
  </div>
  <div class="field">
    <%= f.label :can_massmail %><br>
    <%= f.check_box :can_massmail %>
  </div>
  <div class="field">
    <%= f.label :can_edit %><br>
    <%= f.check_box :can_edit %>
  </div>
  <div class="field">
    <%= f.label :can_invite %><br>
    <%= f.check_box :can_invite %>
  </div>
  <div class="field">
    <%= f.label :can_disband %><br>
    <%= f.check_box :can_disband %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
