<%= form_for(@rank) do |f| %>
  <% if @rank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rank.errors.count, "error") %> prohibited this rank from being saved:</h2>

      <ul>
      <% @rank.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :maxlength => 20 %>
  </div>

  <table class="table table-striped table-bordered table-condensed">
    <th>Attribut</th>
    <th>Erlaubnis</th>
    <tbody>
      <tr>
        <div class="field">
          <td>
            <%= f.label "Kicken" %>
          </td>
          <td>
            <%= f.check_box :can_kick %>
          </td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td>
            <%= f.label "Rundmail" %>
          </td>
          <td>
            <%= f.check_box :can_massmail %>
          </td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td>
            <%= f.label "Beschreibung ändern" %>
          </td>
          <td>
            <%= f.check_box :can_change_description %>
          </td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td>
            <%= f.label "Ränge editieren" %>
          </td>
          <td>
            <%= f.check_box :can_edit_ranks %>
          </td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td>
            <%= f.label "Einladen" %>
          </td>
          <td>
            <%= f.check_box :can_invite %>
          </td>
        </div>
      </td>
    </tbody>
  <table class="table table-striped table-bordered table-condensed">
  <div class="actions">
    <%= f.submit 'Bearbeiten', :class => 'btn' %>
  </div>
<% end %>
