<script>
  $(function(){
    $('.tip').tooltip();
  });
</script>
<%= form_for(@rank) do |f| %>
  <% if @rank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rank.errors.count, "error") %> prohibited this rank from being saved:</h2>

      <ul>
      <% @rank.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :maxlength => 20,:title => "Gib hier den Namen deines Ranges an",class: "tip","data-toggle"=>'tooltip',"data-placement"=>'right' %>
  </div>

  <table class="table table-striped table-bordered table-condensed">
    <th>Attribut</th>
    <th>Erlaubnis</th>
    <tbody>
      <tr title="Erteile die Erlaubnis, dass Nutzer dieses Ranges andere Nutzer entfernen dürfen." class="tip" data-toggle="tooltip" data-placement="right" >
          <td>
            <%= f.label "Kicken" %>
          </td>
          <td>
            <%= f.check_box :can_kick %>
          </td>

      </tr>
      <tr title="Erteile die Erlaubnis, dass Nutzer dieses Ranges Rundmails an alle Allianzmitglieder schicken dürfen." class="tip" data-toggle="tooltip" data-placement="right" >
          <td>
            <%= f.label "Rundmail" %>
          </td>
          <td>
            <%= f.check_box :can_massmail %>
          </td>
      </tr>
      <tr title="Erteile die Erlaubnis, dass Nutzer dieses Ranges die Allianzbeschreibung ändern dürfen." class="tip" data-toggle="tooltip" data-placement="right" >
          <td>
            <%= f.label "Beschreibung ändern" %>
          </td>
          <td>
            <%= f.check_box :can_change_description %>
          </td>
      </tr>
      <tr title="Erteile die Erlaubnis, dass Nutzer dieses Ranges andere Ränge editieren dürfen. ACHTUNG: Sei vorsichtig, wem du dieses Privileg anvertraust!" class="tip" data-toggle="tooltip" data-placement="right" >
          <td>
            <%= f.label "Ränge editieren" %>
          </td>
          <td>
            <%= f.check_box :can_edit_ranks %>
          </td>
      </tr>
      <tr title="Erteile die Erlaubnis, dass Nutzer dieses Ranges andere Nutzer in die Allianz einladen dürfen." class="tip" data-toggle="tooltip" data-placement="right" >
          <td>
            <%= f.label "Einladen"%>
          </td>
          <td>
            <%= f.check_box :can_invite,:text => "test",class: "tip","data-toggle"=>"tooltip","data-placement"=>"right" %>
          </td>
      </td>
    </tbody>
  </table>
  <div class="actions">
    <%= f.submit 'Akzeptieren', :class => 'btn' %>
  </div>
<% end %>

