<h1>Listing ranks</h1>

<table border="1px">
  <thead>
    <tr>
      <th>Name</th>
      <th>Kicken</th>
      <th>Massenmail</th>
      <th>Editieren</th>
      <th>Einladen</th>
      <th>Can Disband</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ranks.each do |rank| %>
      <tr>
        <td><%= rank.name %></td>
        <td><%= rank.can_kick ? "Ja" : "Nein" %></td>
        <td><%= rank.can_massmail ? "Ja" : "Nein"  %></td>
        <td><%= rank.can_edit ? "Ja" : "Nein"  %></td>
        <td><%= rank.can_invite ? "Ja" : "Nein"  %></td>
        <td><%= rank.can_disband ? "Ja" : "Nein"  %></td>
        <td><%= link_to 'Bearbeiten', edit_rank_path(rank) %></td>
        <td><%= link_to 'Löschen', rank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rank', new_rank_path %>
