<h1>Listing travelreports</h1>

<table>
  <thead>
    <tr>
      <th>Mode</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @travelreports.each do |travelreport| %>
      <tr>
        <td><%= travelreport.mode %></td>
        <td><%= link_to 'Show', travelreport %></td>
        <td><%= link_to 'Edit', edit_travelreport_path(travelreport) %></td>
        <td><%= link_to 'Destroy', travelreport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Travelreport', new_travelreport_path %>
