<!-- Disabling old version

<h1>Listing galaxies</h1>

<table>
  <thead>
    <tr>
      <th>X</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%# @galaxies.each do |galaxy| %>
      <tr>
        <td><%# galaxy.x %></td>
        <td><%# galaxy.name %></td>
        <td><%# link_to 'Show', galaxy %></td>
        <td><%# link_to 'Edit', edit_galaxy_path(galaxy) %></td>
        <td><%# link_to 'Destroy', galaxy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

-->
<table class="galaxyfield">
  <% id = 0
     k = 0
=begin
     gall = @galaxies.sort do |a,b|
       x1 = a.getCoords
       x2 = b.getCoords
       comp = (x1[1] <=> x2[1])
       comp.zero? ? (x1[0] <=> x2[0]) : comp
     end
=end
     $game_settings[:world_view_length].times do |i|
     i += @pos[1] - 2 %>
  <tr>
    <% $game_settings[:world_view_length].times do |j|
      k += 1
      j += @pos[0] - 2
      real_x = Galaxy.calcX(j,i)
      unless @near.include?real_x then
        %><td class="galaxy">?</td><%
      else
     #g = gall[k-1]
     g = Galaxy.where(x: real_x).first
    %>
    <td class="galaxy <%= out = ""
        if(GalaxiesHelper.isMeins(real_x)) then
                            out += "mygalaxy "
                          end
                          if(GalaxiesHelper.isVisible(real_x)) then
                            out += "visiblegalaxy "
                          end
    filename = GalaxiesHelper.getImageFilename(real_x, 80)
    out += filename[16] + filename[18, 4] %>"
    title="Galaxie<%= if(GalaxiesHelper.isMeins(real_x)) then " (gehört mir)" end %>: <%= real_x; %>, Koordinaten: (<%= j %>,<%= i
    %>), Sonnensysteme:<%= if(GalaxiesHelper.isVisible(real_x)) then
     g.sunsystems.count
     else "Unbekannt"
     end %>">
     <%= link_to 'Galaxy', galaxy_path(g) %><%= g.name %></td>
    <% end end %>
  </tr>
  <% end %>


</table>
</div>
<br>
