<!-- Disabling old version

<h1>Listing galaxies</h1>

<table>
  <thead>
    <tr>
      <th>X</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%# @galaxies.each do |galaxy| %>
      <tr>
        <td><%# galaxy.x %></td>
        <td><%# galaxy.name %></td>
        <td><%# link_to 'Show', galaxy %></td>
        <td><%# link_to 'Edit', edit_galaxy_path(galaxy) %></td>
        <td><%# link_to 'Destroy', galaxy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

-->
<table class="galaxyfield">
  <% id = 0
     k = 0
     $game_settings[:world_view_length].times do |i| %>
  <tr>
    <% $game_settings[:world_view_length].times do |j|
      k += 1
      real_x = Galaxy.calcX(j,i)
      if !@near.include?real_x then
        %><td class="galaxy">Unbekannt</td><%
      else
    %>
    <td class="galaxy <%= out = ""
        if(GalaxiesHelper.isMeins(real_x)) then
                            out += "mygalaxy "
                          end
                          if(GalaxiesHelper.isVisible(real_x)) then
                            out += "visiblegalaxy "
                          end
    filename = GalaxiesHelper.getImageFilename(real_x, 80)
    out += filename[16] + filename[18, 4] %>"
    title="Galaxie<%= if(GalaxiesHelper.isMeins(real_x)) then " (gehört mir)" end %>: <%= real_x; %>, Koordinaten: (<%= j %>,<%= i
    %>), Sichtbar:<%= if(GalaxiesHelper.isVisible(real_x)) then "Ja" else "Nein" end %>"><%= real_x %></td>
    <% end end %>
  </tr>
  <% end %>


</table>
</div>
<br>
