<!-- Disabling old version

<h1>Listing galaxies</h1>

<table>
  <thead>
    <tr>
      <th>X</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @galaxies.each do |galaxy| %>
      <tr>
        <td><%= galaxy.x %></td>
        <td><%= galaxy.name %></td>
        <td><%= link_to 'Show', galaxy %></td>
        <td><%= link_to 'Edit', edit_galaxy_path(galaxy) %></td>
        <td><%= link_to 'Destroy', galaxy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

-->
<div class=".galaxyfield">
<table>
  <% id = 0
    $game_settings["world_view_length"].times do |i| %>
  <tr class=".galaxyfield_tr">
    <% $game_settings["world_view_length"].times do |j|
      x=@galaxies[i*$game_settings["world_view_length"]+j];
      unless x.nil? then
      pos = x.getCoords()
      x = x.x
    %>
    <td class="galaxy <%= out = ""
        if(GalaxiesHelper.isMeins(x)) then
                            out += "mygalaxy "
                          end
                          if(GalaxiesHelper.isVisible(x)) then
                            out += "visiblegalaxy "
                          end
    filename = GalaxiesHelper.getImageFilename(x, 80)
    out += filename[16] + filename[18, 4] %>"
    title="Galaxie<%= if(GalaxiesHelper.isMeins(x)) then " (gehört mir)" end %>: <%= x; %>, Koordinaten: (<%= pos[0] %>,<%= pos[1]
    %>), Sichtbar:<%= if(GalaxiesHelper.isVisible(x)) then "Ja" else "Nein" end %>"></td>
    <% end end %>
  </tr>
  <% end %>


</table>
</div>
<br>

#<%= link_to 'New Galaxy', new_galaxy_path %>
