<div class="galaxyfield" style="position: relative;">
  <% @galaxies.each do |g| %>
      <% pos = g.getCoords
         pos[0] = (pos[0] + 2 + @pos[0]) % 5
         pos[1] = (pos[1] + 2 + @pos[1]) % 5
         filename = GalaxiesHelper.getImageFilename(g.x, 80)
         out = filename[16] + filename[18, 4] %>
      <a href="<%= galaxy_path(g) %>"><div class="galaxy visiblegalaxy <%= out %>" style="position: absolute; top: <%= 80*pos[1] %>px; left: <%= 80*pos[0] %>px;" onmouseover="javascript:showGalaxyHelp(<%= g.x %>)"></div></a>
  <% end %>

</div>

<div class="galaxy_info" >
  <% @galaxies.each do |g| %>
    <div id="galaxy_help_<%= g.x %>" class="galaxy_info_field">
      <%= g.name %>
      Position: <%= pos = g.getCoords
        pos[0] %>, <%= pos[1] %>
      Sonnensysteme: <%= g.sunsystems.count %>
    </div>

  <% end %>

</div>
