<!-- Disabling old version

<h1>Listing galaxies</h1>

<table>
  <thead>
    <tr>
      <th>X</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @galaxies.each do |galaxy| %>
      <tr>
        <td><%= galaxy.x %></td>
        <td><%= galaxy.name %></td>
        <td><%= link_to 'Show', galaxy %></td>
        <td><%= link_to 'Edit', edit_galaxy_path(galaxy) %></td>
        <td><%= link_to 'Destroy', galaxy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

-->

<table>
  <% id = 0
    5.times do |x| %>
  <tr>
    <% 5.times do |y|
      id=Galaxy.calcX(x, y); %>
    <td class="galaxy <%= out = ""
        if(GalaxiesHelper.isMeins(id)) then
                            out += "mygalaxy "
                          end
                          if(GalaxiesHelper.isVisible(id)) then
                            out += "visiblegalaxy "
                          end
    filename = GalaxiesHelper.getImageFilename(id, 80)
    out += filename[16] + filename[18, 4] %>"
    title="Galaxie<%= if(GalaxiesHelper.isMeins(id)) then " (gehört mir)" end %>: <%= id; %>, Koordinaten: (<%= y %>,<%= x
    %>), Sichtbar:<%= if(GalaxiesHelper.isVisible(id)) then "Ja" else "Nein" end %>"></td>
    <% end %>
  </tr>
  <% end %>


</table>

<br>

<%= link_to 'New Galaxy', new_galaxy_path %>
