<p id="notice"><%= notice %></p>

<div class="sunsystemordner">

  <div class="galaxyinf">

    Name der Galaxie: <%= @galaxy.name %>
    <FONT SIZE = 8><%=  link_to '↶', galaxies_path %>  </FONT>

  </div>

  <% @galaxy.sunsystems.each do |s| %>

      <a class="sunsyspos sunsyspos<%= s.y.to_s %>" href="<%= sunsystem_path(s)%>"> <div>

        <% if !s.y.nil? then %>
            <%= image_tag('/images/icons/eisen32px.png')%>
        <% end %>

      </div></a>

  <% end %>


</div>

