<p id="notice"><%= notice %></p>

<p>
  <strong>X:</strong>
  <%= @galaxy.x %>
</p>

<p>
  <strong>Name:</strong>
  <%= @galaxy.name %>
</p>




<p>
<strong>Liste der Sonnensysteme in dieser Galaxie</strong>
<% @galaxy.sunsystems.each do |s| %>

    <p class="ressourcenanzeige">
    <%= "Name des Sonnensystems: " + s.name.to_s%>
    </p>
    <p class="ressourcenanzeige">
    <%= "Y-Koordinate:" + s.y.to_s %>
    </p>

    <p style="margin-bottom: 50px" class="ressourcenanzeige">
    <%= link_to 'Sunsystem', sunsystem_path(s) %>
    </p>
    </p>
<% end %>
</p>


<p>
<%= link_to 'Edit', edit_galaxy_path(@galaxy) %> |
<%= link_to 'Back', galaxies_path %>
</p>

