<div class="sunsystemordner u256_<%= GalaxiesHelper.getImageFilename(@galaxy.x, 256)[-5] %>">

  <div class="galaxyinf">

    Name der Galaxie: <%= @galaxy.name %>
    <a class="pfeil" href="<%= galaxies_path()%>"> <div>
      ↶
    </div></a>

  </div>

  <% @galaxy.sunsystems.each do |s| %>

      <% if s.is_visible_by?(current_user)%>
      <a class="sunsyspos sunsyspos<%= s.y.to_s %>" title=<%=s.name%>", Planeten:"<%=s.planets.count%> href="<%= sunsystem_path(s)%>">
        <div>
        <% if !s.y.nil? then %>
            <%= image_tag('/images/suns/Sonne' + s.y.to_s  + '.png')%>

        <% end %>
        </div>
      </a>
     <%else%>


          <div class="darker sunsyspos sunsyspos<%= s.y.to_s %>" title="Sonnensystem noch nicht sichtbar">
            <% if !s.y.nil? then %>
                <%= image_tag('/images/suns/Sonne' + s.y.to_s  + '.png')%>

            <% end %>
          </div>

      <%end%>


  <% end %>

</div>




