<div class="sunsystemordner">

  <div class="galaxyinf">

    Name der Galaxie: <%= @galaxy.name %>
    <a class="pfeil" href="<%= galaxies_path()%>"> <div>
      ↶
    </div></a>

  </div>

  <% @galaxy.sunsystems.each do |s| %>

      <a class="sunsyspos sunsyspos<%= s.y.to_s %>" href="<%= sunsystem_path(s)%>"> <div>

        <% if !s.y.nil? then %>
            <%= image_tag('/images/icons/eisen32px.png')%>
        <% end %>

      </div></a>

  <% end %>


</div>

