<%= form_for(@sunsystem) do |f| %>
  <% if @sunsystem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sunsystem.errors.count, "error") %> prohibited this sunsystem from being saved:</h2>

      <ul>
      <% @sunsystem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :y %><br>
    <%= f.number_field :y %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
