<div class="planetordner">

  <a class="pfeil" href="<%= galaxy_path(@sunsystem.galaxy)%>"> <div>
    ↶
  </div></a>

  <div class="sunsysinf">

    Name des Sonnensystems: <%= @sunsystem.name %>


  </div>

  <% @sunsystem.planets.each do |p| %>

      <% if p.is_visible_by?(current_user) %>

          <% if p.user.nil? %>
              <a class="darker planetspos planetspos<%= p.z.to_s %>" title="Unbekannter Planet"><div>
                <% a = p.special.to_s%>
                <%= image_tag('/images/planets/Planet'+a+'.png') %> </div></a>

          <%else%>
              <%if p.user.friends.include?(current_user)%>
                  <a class="planetspos planetspos<%= p.z.to_s %>" title="Name: <%=p.name%>" href="<%= planet_path(p)%>" ><div>
                    <% a = p.special.to_s%>
                    <%= image_tag('/images/planets/Planet'+a+'.png') %></div></a>
              <%else%>
                  <% if p.user.alliance.nil?%>
                      <a class="darker planetspos planetspos<%= p.z.to_s %>" title="Spieler: <%=p.user.username%>"><div>
                        <% a = p.special.to_s%>
                        <%= image_tag('/images/planets/Planet'+a+'.png') %> </div></a>
                  <%else%>
                      <% if p.user.alliance == current_user.alliance%>
                          <a class="planetspos planetspos<%= p.z.to_s %>" title="Name: <%=p.name%>" href="<%= planet_path(p)%>" ><div>
                            <% a = p.special.to_s%>
                            <%= image_tag('/images/planets/Planet'+a+'.png') %></div></a>
                      <%else%>
                          <a class="darker planetspos planetspos<%= p.z.to_s %>" title=<%=p.user.username %>>><div>
                            <% a = p.special.to_s%>
                            <%= image_tag('/images/planets/Planet'+a+'.png') %> </div></a>
                      <%end%>
                  <%end%>
              <%end%>
          <%end%>
      <%else%>
          <a class="darker planetspos planetspos<%= p.z.to_s %>" title="Unbekannter Planet"><div>
            <% a = p.special.to_s%>
            <%= image_tag('/images/planets/Planet'+a+'.png') %> </div></a>
      <% end %>
  <%end%>

  <% xyz = Random.rand(1000)
      if xyz == 999 then %>
      <div class="planetpos findable_planet" style="position: relative; top: <%= (Random.rand(400)+50).to_s %>px; left: <%= (Random.rand(400)+50).to_s %>px;">
        <div title="Hier wohnt MaGe.">LOL?!</div>
      </div>
  <% end %>



</div>

