<div class="planetordner">

  <div class="sunsysinf">

    Name des Sonnensystems: <%= @sunsystem.name %>
    <a class="pfeil" href="<%= galaxy_path(@sunsystem.galaxy)%>"> <div>
      ↶
    </div></a>

  </div>

  <% @sunsystem.planets.each do |p| %>

      <a class="planetspos planetspos<%= p.z.to_s %>" href="<%= planet_path(p)%>" > <div>
        <% a = p.special.to_s%>
        <%= image_tag('/images/planets/Planet'+a+'.png') %>


      </div></a>

  <% end %>


</div>

