<p id="notice"><%= notice %></p>

<p>
  <strong>Y:</strong>
  <%= @sunsystem.y %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sunsystem.name %>
</p>

<%= link_to 'Edit', edit_sunsystem_path(@sunsystem) %> |
<%= link_to 'Back', sunsystems_path %>
