<%= form_for(@shipfleet) do |f| %>
  <% if @shipfleet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipfleet.errors.count, "error") %> prohibited this shipfleet from being saved:</h2>

      <ul>
      <% @shipfleet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ship_id %><br>
    <%= f.number_field :ship_id %>
  </div>
  <div class="field">
    <%= f.label :fleet_id %><br>
    <%= f.number_field :fleet_id %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
