<style type="text/css">
      .jumbotron { 
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .part{
        padding: 20px;
      }
</style>


<div class="jumbotron">
  <h1>Missionen</h1>
  
  <div class="alert alert-error" id="error" style="display:none">
    <h4>Fehler:</h4>
    <ol>

    </ol>
  </div>

  <div class="part">
    <h3>Wähle den Missionstyp</h3>
    <button id="travel" data-trigger="hover" data-placement="bottom" type="button" class="btn btn-default">Travel</button>
    <button id="colonization" data-trigger="hover" data-placement="bottom" type="button" class="btn btn-primary">Colonization</button>
    <button id="transport" data-trigger="hover" data-placement="bottom" type="button" class="btn btn-success">Transport</button>
    <button id="spy" data-trigger="hover" data-placement="bottom" type="button" class="btn btn-warning">Spy</button>
    <button id="attack" data-trigger="hover" data-placement="bottom" type="button" class="btn btn-danger">Attack</button>
  </div>

   
  <div id="own-ships" style="display:none">
    <h3>Wähle deine Flotte</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Stationiert</th>
          <th>Schiffe</th>
          <th>Fracht</th>
          <th>Auswahl</th>
        </tr>
      </thead>
      <tbody>
        <% @fleets.each do |fleet| %>
          <tr>
            <td><%= fleet.start_planet.name %></td>
            <% if fleet.get_amount_of_ships == 0 %>
              <td>Keine Schiffe vorhanden</td>
            <% else %>
            <td fleet="<%=fleet.id%>">
              <a type="button" fleet="<%=fleet.id%>" class="btn btn-link ship-info" ><i class="icon-chevron-down"></i></a>
            </td>
            <% end %>
            <td>
              <a type="button" class="btn btn-link ress2-popover" data-trigger="hover" data-html="true" data-placement="top" data-content="<ul><li>Erz: <%=fleet.ore%></li><li>Kristall: <%=fleet.crystal%></li><li>SpaceCash<sup>&copy;</sup>: <%=fleet.credit%></li></ul>"><i class="icon-info-sign"></i></a>
            </td>
            <% if fleet.get_amount_of_ships == 0 %>
              <td>---</td>
            <% else %>  
              <td><button planet="<%=fleet.start_planet.id%>" class="fleet-choice" fleet="<%=fleet.id%>" type="button" class="btn btn-default"><i class="icon-ok"></i></button></td>
            <% end %>
          </tr>
          <% unless fleet.get_amount_of_ships == 0%>
            <tr>
              <td colspan="5">
                <div class="info-<%= fleet.id %>" style="display:none">
                  <table class"table table-condensed">
                    <thead>
                      <tr>
                        <th>Schiffsname</th>
                        <th>Angriff</th>
                        <th>Verteidigung</th>
                        <th>Geschwindigkeit</th>
                        <th>Ladekapazität</th>
                        <th>Anzahl</th>
                      </tr>
                    </thead>
                    <tbody>
                  <% fleet.get_ships.each do |ship, amount| %>
                    <tr class="image-popover" ship="<%= ship.id %>" data-trigger="hover" data-html="true" data-placement="left">
                      <td><%= ship.name %></td>
                      <td><%= ship.offense %></td>
                      <td><%= ship.defense %></td>
                      <td><%= ship.velocity %></td>
                      <td><%= ship.ressource_capacity %></td>
                      <td><%= amount %></td>
                    </tr>
                    <% end%>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          <% end %>  
        <% end %>
        </tbody>
      </table>
    </div>


  <div id="destination" style="display:none">
    <h3>Wähle das Ziel</h3>
    
    <div class="row-fluid">
      <div id="galaxy" class="span3">
        <label for="g-select">Galaxie</label> 
        <select id="g-select" name="galaxy-select" class="span10">
          <option selected="selected" value="">---</option>
          <% @galaxies.each do |galaxy| %>
            <option value="<%= galaxy.id %>"><%= galaxy.x %> &sdot; <%= galaxy.name %></option>
          <% end %>
        </select>
      </div>
      <div id="sunsystem" class="span3">
        <label for="s-select">Sonnensystem</label> 
        <select id="s-select" name="sunsystem-select" class="span10">
          <option selected="selected" value="">---</option>
        </select>
      </div>
      
      <div id="planet" class="span4">
        <label for="p-select">Planet</label> 
        <select id="p-select" name="planet-select" class="span10">
          <option selected="selected" value="">---</option>
        </select>
      </div>
      <div id="explore" class="span2" style="display:none">
        <label for="explore-button">Erkundung</label> 
        <a type="button" data-placement="right" data-trigger="hover" id="explore-button" class="btn btn-info" ><i class="icon-random"></i></a>
      </div>
    </div>
  </div>

  <div id="choice" style="display:none">
    <h3 id="ship-header" >Wähle deine Schiffe</h3>
    <div id="ship-choice">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Anzahl</th>
            <th>Auswahl</th>
            <th>Angriff</th>
            <th>Verteidigung</th>
            <th>Lagerkapazität</th>
          </tr>
        </thead>
        <tbody id="ship-choice-table">
        </tbody>  
      </table>
    </div>

    <div id="ress-choice" style="display:none">
      <h3>Wähle Ressourcen zum Beladen</h3>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Auswahl</th>
          </tr>
        </thead>
        <tbody id="ress-choice-table">
          <tr>
            <td>Erz</td>
            <td>
              <input class="span1 ress-amount" ress="ore" type="number" name="amount-ore" placeholder="0">
            </td>
          </tr>
          <tr>
            <td>Kristall</td>
            <td>
              <input class="span1 ress-amount" ress="crystal" type="number" name="amount-crystal" placeholder="0">
            </td>
          </tr>
          <tr>
            <td>SpaceCash<sup>&copy;</sup></td>
            <td>
              <input class="span1 ress-amount" ress="credit" type="number" name="amount-credit" placeholder="0">
            </td>
          </tr>
          <tr>
            <td><strong>Gesamt</strong></td>
            <td id="sum-ress">0</td>
          </tr>
          
        </tbody>  
      </table>
    </div>
    <button id="check" type="button" class="btn btn-danger">Prüfen</button>
  </div>
  
  
  
  <form id="send" method="get" action="/confirm/send">
    <!-- // hier werden mithilfe vom dom die einzelnen inputs eingehängt, bzw ausgehängt um am ende abgeschickt zu werden -->
    <div id="send-button" style="display:none; margin:10px">
      <button id="doit" type="submit" class="btn btn-info">Abschicken</button>
    </div>
  </form>

  <script type="text/javascript">

    $(document).ready(function() {
      travel_clicked = true;
      colo_clicked = true;
      transport_clicked = true;
      spy_clicked = true;
      attack_clicked = true;
      planet1 = 0;
      planet2 = 0;
      distance = 0;
      missiontypes = ["#spy", "#travel", "#colonization", "#transport", "#attack"];
      
      //Receives Information that is necessary to display
      $.getJSON('/json/info', function(data){
        susy = data.susy_hash;
        gala = data.gala_hash;
        susy_names = data.susy_names_hash;
        planets_names = data.planets_names_hash;
        ships = data.ships;
        explore_planets = data.explore_planets
      });

      $(".ress2-popover").popover({title:"Ressourcen"});

      $(".image-popover").popover({content: function(){
          return '<img src="images/ships/'+$(this).attr("ship")+'.png"/>';
        }
      });

      $("#explore-button").popover({content: "Nach dem Klicken wird ein Planet in die Planeten-Auswahl eingefügt, welcher erkundet werden kann. Dieser Planet ist dir unbekannt und eröffnet dir neue Welten."});

      $("#travel").popover({content: "Du kannst Schiffen deiner Flotten zu anderen Planeten reisen lassen. So kannst du Schiffe an Planeten deiner Allianzmitglieder stationieren um sie bei Angriffen zu unterstützen oder einfach eigene Flotten an anderen Planeten aufstocken."});
      $("#colonization").popover({content: "Du kannst unbekannte Planeten erkunden indem du mindestens ein Kolonieschiff zu diesem schickst. Dort wird es zerstört um als Startkapital deiner Ressourcen zu dienen. Am besten solltest du vorher den Planeten ausspionieren."});
      $("#attack").popover({content: "Du kannst andere Planeten angreifen. Die Gewinnchance hängt von deiner und der gegenerischen Flotte ab."});
      $("#spy").popover({content: "Du kannst andere Planeten ausspionieren. Wenn der Planet unbesetzt ist, dann siehst du die vorhandenen Planetattribute. Sollte ein gegenerischer Spieler dort angesiedelt sein, kannst du seine Ressourcen auskundschaften. Es kann aber passieren, dass deine Sonde dabei vom gegner zerstört wird"});
      $("#transport").popover({content: "Du kannst Ressourcen zwischen Planeten hin- und herbewegen. Allerdings nur zu dir selber und deinen Allianzmitgliedern."});

      $("#explore-button").on("click", function(){
        $("#s-select > option, #p-select > option, #g-select > option").remove();
        $("#g-select").append('<option value="">---</option>');
        $("#s-select").append('<option value="">---</option>');
        $("#p-select").append('<option value="">---</option>');
        index = 1
        rand = Math.floor((Math.random()*10)+1); 
        for (i in explore_planets){
          if (rand == index){
            planet = explore_planets[i]
            $("#p-select").append('<option value="'+planet.id+'">'+planet.z+" &sdot; "+planet.name+'</option>');
          }
          index++;
        }
      });

      $("#explore-button").popover({content: "Nach dem Klicken wird ein Planet in die Planeten-Auswahl eingefügt, welcher erkundet werden kann. Dieser Planet ist dir unbekannt und eröffnet dir neue Welten."})

      // delegated event
      $(document).on("focusout", ".ship-amount", function(){
        $("#send-button").slideUp("fast");
        
        var ship_id = $(this).attr("ship");
        var amount = parseInt($(this).val());
        var amount_input = parseInt($(this).parent().prev().html());
        
        if (amount <= amount_input && amount >= 0){
          $("#offense-"+ship_id).html(ships[ship_id]["offense"] * amount);
          $("#defense-"+ship_id).html(ships[ship_id]["defense"] * amount);
          $("#capacity-"+ship_id).html(ships[ship_id]["ressource_capacity"] * amount);

          sum = 0;
          $(".ship-amount").each(function(){
            if (parseInt($(this).val())){
              sum += parseInt($(this).val());
            }
          });
          $("#sum-amount").html(sum);

          sum = 0;
          $("td[id^='offense']").each(function(){
            sum += parseInt($(this).html());
          });
          $("#sum-offense").html(sum);
          
          sum = 0;
          $("td[id^='defense']").each(function(){
            sum += parseInt($(this).html());
          });
          $("#sum-defense").html(sum);
          
          sum = 0;
          $("td[id^='capacity']").each(function(){
            sum += parseInt($(this).html());
          });
          $("#sum-capacity").html(sum);

        }
        else{
          $(this).val(0);
        };
      });
      
      $(".ress-amount").on("focusout", function(){
        var amount = parseInt($(this).val());
        if (!(amount >= 0)){
          $(this).val(0);
        }
        else{
          var sum = 0;
          $(".ress-amount").each(function(){
            if (parseInt($(this).val())){
              sum += parseInt($(this).val());
            }
          })
          $("#sum-ress").html(sum);
        };
      });

      // ables|disables the buttons of missions and slides the next menu down
      function disable_helper(m_type, clicked){
        $("#error li").remove();
        $("#error").slideUp("fast");
        $('.input-stuff').remove();
        // delete ressource-entries
        $(".ress-amount").each(function(){
          $(this).val(0);
        });
        // delete ship-entries
        $(".ship-amount").each(function(){
          $(this).val(0);
        });
        for (var i in missiontypes){
          if(missiontypes[i] != m_type){
            if (clicked){
              $(missiontypes[i]).fadeTo("fast", 0.1);
              $(missiontypes[i]).attr("disabled", "disabled");
            }
            else {
              $("#choice").slideUp("fast");
              $("#send-button").slideUp("fast");
              $("#destination").slideUp("fast");
              $(missiontypes[i]).fadeTo("fast", 1);
              $(missiontypes[i]).removeAttr("disabled");
            }
          }  
        }
      };

      $("#travel").on("click",function () {
        disable_helper("#travel", travel_clicked);
        travel_clicked = !travel_clicked;
        $("#send").append('<input class="input-stuff" type="hidden" name="mission" value="4">');
        $("#ress-choice").slideUp("fast");
        $("#own-ships").slideToggle("slow");
      });

      $("#colonization").on("click", function(){
        disable_helper("#colonization", colo_clicked);
        colo_clicked = !colo_clicked;
        $("#send").append('<input class="input-stuff" type="hidden" name="mission" value="2">');
        $("#ress-choice").slideDown("fast");
        $("#own-ships").slideToggle("slow");
      });
      
      $("#transport").on("click", function(){
        disable_helper("#transport", transport_clicked);
        transport_clicked = !transport_clicked;
        $("#send").append('<input class="input-stuff" type="hidden" name="mission" value="6">');
        $("#ress-choice").slideDown("fast");
        $("#own-ships").slideToggle("slow");
      });
    
      $("#spy").on("click", function(){
        disable_helper("#spy", spy_clicked);
        spy_clicked = !spy_clicked;
        $("#send").append('<input class="input-stuff" type="hidden" name="mission" value="5">');
        $("#ress-choice").slideUp("slow");
        $("#own-ships").slideToggle("slow");
        $("#explore").slideToggle("slow");
      });
 
      $("#attack").on("click", function(){
        disable_helper("#attack", attack_clicked);
        attack_clicked = !attack_clicked;
        $("#send").append('<input class="input-stuff" type="hidden" name="mission" value="3">');
        $("#ress-choice").slideUp("fast");
        $("#own-ships").slideToggle("slow");
      });

      // Galaxy dropdown
      $("#g-select").change(function(){
        $("#s-select > option, #p-select > option").remove();
        $("#s-select").append('<option value="">---</option>');
        $("#p-select").append('<option value="">---</option>');
        var gala_id = $("#g-select option:selected").attr("value");
        var sunsystems = gala[gala_id];
        for (var i in sunsystems){
          $("#s-select").append('<option value="'+sunsystems[i]+'">'+susy_names[sunsystems[i]]+'</option>');
        }

        if (gala_id == ""){
          $("#choice").slideUp("slow");
          $("#send-button").slideUp("fast");
        }
      });

      // Sunsystem dropdown
      $("#s-select").change(function(){
        $("#p-select > option").remove();
        $("#p-select").append('<option value="">---</option>');
        var susy_id = $("#s-select option:selected").attr("value");
        var planets = susy[susy_id];
        for (var i in planets){
          $("#p-select").append('<option value="'+planets[i]+'">'+planets_names[planets[i]]+'</option>');
        }

        if (susy_id == ""){
          $("#choice").slideUp("slow");
          $("#send-button").slideUp("fast");
        }
      });

      // Planet Dropdown
      $("#p-select").change(function(){
        planet_id = $("#p-select option:selected").attr("value");

        if (planet_id != ""){
          $.getJSON("/json/distance?planet1="+planet1+"&planet2="+planet_id, function(data){
            distance = parseInt(data.distance);
            $("#choice").slideDown("fast");
            $("#ship-header").html("Entfernung: "+distance+" SpaceKilometer<sup>&copy;</sup>");
          });
        }
        else{
          $("#ship-header").html("Wähle deine Schiffe");
          $("#choice").slideUp("fast");
          $("#send-button").slideUp("fast");
        }
        $("#send").find('input[name="planet"]').remove();
        $("#send").append('<input class="input-stuff" type="hidden" name="planet" value="'+planet_id+'">');
      });


      $(".ship-info").on("click", function(){
        var id = $(this).attr("fleet");
        if ($(".info-"+id).css("display") == "none"){
          $('a[fleet='+id+']').html('<i class="icon-chevron-up"></i>');
        }
        else {
          $('a[fleet='+id+']').html('<i class="icon-chevron-down"></i>');
        }
          $(".info-"+id).animate({ height: 'toggle', opacity: 'toggle' }, 'slow');
      });

      $(".fleet-choice").on("click", function(){
        planet1 = $(this).attr("planet");
        fleet_id = $(this).attr("fleet");
        $("#destination").slideDown("slow");
        $("#ship-choice-table").children().remove();

        $.getJSON("/json/fleetships?fleet_id="+fleet_id, function(data){
          
          for (key in data){
            $("#ship-choice-table").append(
               '<tr> \n <td>'+ships[key]["name"]+'</td>\n<td>'+data[key]+'</td>\n <td><input class="span1 ship-amount" ship='+key+' type="number" name="quantity-'+key+'" min="0" max="'+data[key]+'" placeholder="0"></td> \n <td id="offense-'+key+'">0</td> \n <td id="defense-'+key+'">0</td> \n <td id="capacity-'+key+'">0</td> \n </tr>'
            );
          }

          $("#ship-choice-table").append(
            '<tr>\n<td></td>\n<td><strong>Gesamt</strong></td>\n<td id="sum-amount">0</td>\n<td id="sum-offense">0</td>\n<td id="sum-defense">0</td>\n<td id="sum-capacity">0</td>\n</tr>'
          );
        });
        $("#send").find('input[name="fleet"]').remove();
        $("#send").append('<input class="input-stuff" type="hidden" name="fleet" value="'+fleet_id+'">');
      });

      $("#check").on("click", function(){
        //hier muessen die ships ausgelesen werden und gespeichert also:
        $("#send").find('input[name^="ship-"]').remove();
        $(".ship-amount").each(function(){
          if (parseInt($(this).val())){
            var amount = $(this).val();
            var ship_id = $(this).attr("ship");
            $("#send").append('<input class="input-stuff" type="hidden" name="ship-'+ship_id+'" value="'+amount+'">');
          }
        });
        $("#send").find('input[name^="ress-"]').remove();
        $(".ress-amount").each(function(){
          if (parseInt($(this).val())){
            var amount = $(this).val();
            var ress = $(this).attr("ress");
            $("#send").append('<input class="input-stuff" type="hidden" name="ress-'+ress+'" value="'+amount+'">');
          }
        });

        
        
        //bauen der URL
        url = "/json/check?";
        $("#send").children().each(function(){
          url += $(this).attr("name") + "=" + $(this).attr("value") + "&";
        });

        //hier wird ein prüf json angefordert:
        $.getJSON(url, function(data){
          if (data.ok == 1){
            $("#error").slideUp("fast");
            $("#send-button").slideDown("slow");
          }
          else {
            $('html, body').animate({scrollTop: '0px'}, 600);
            $("#error li").remove();
            for (error in data["error"]){
              $("#error ol").append("<li>"+data["error"][error]+"</li>")
            }
            $("#error").slideDown("fast");
            $("#send-button").slideUp("fast");
          }
        });
      });
    });
  </script>

</div>
