<style type="text/css">
      .jumbotron { 
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .part{
        padding: 20px;
      }


</style>


<div class="jumbotron">
  <h1>Missions</h1>

  <div class="part">
    <button id="travel" type="button" class="btn btn-default">Travel</button>
    <button id="colonization" type="button" class="btn btn-primary">Colonization</button>
    <button id="transport" type="button" class="btn btn-success">Transport</button>
    <button id="spy" type="button" class="btn btn-warning">Spy</button>
    <button id="attack" type="button" class="btn btn-danger">Attack</button>
  </div>

  <div id="own-ships" style="display:none">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Stationiert</th>
          <th>Schiffe</th>
          <th>Auswahl</th>
        </tr>
      </thead>
      <tbody>
        <% @fleets.each do |fleet| %>
          <tr>
            <br>
            <td><%= fleet.start_planet.name %></td>
            <td class="ship-info" fleet="<%=fleet.id%>">
            <div>
              <button type="button" class="btn btn-link">Schiffe</button>
            </div>
            <div class="info-<%= fleet.id %>" style="display:none">
              <table class"table">
                <thead>
                  <tr>
                    <th>Schiffsname</th>
                    <th>Angriff</th>
                    <th>Verteidigung</th>
                    <th>Geschwindigkeit</th>
                    <th>Anzahl</th>
                  </tr>
                </thead>
              <% fleet.get_ships.each do |ship, amount| %>
                <tr>
                  <td><%= ship.name %></td>
                  <td><%= ship.offense %></td>
                  <td><%= ship.defense %></td>
                  <td><%= ship.velocity %></td>
                  <td><%= amount %></td>
                </tr>
                <% end%>
              </table>
            </div>
            </td>
            <td><button planet="<%=fleet.start_planet.id%>" class="fleet-choice" fleet="<%=fleet.id%>" type="button" class="btn btn-default">OK</button></td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>

  <div id="destination" class="row-fluid" style="display:none">
    <div id="galaxy" class="span4">
      <select id="g-select" name="galaxy-select" class="span8">
        <option selected="selected" value="">---</option>
        <% @galaxies.each do |galaxy| %>
          <option value="<%= galaxy.id %>"><%= galaxy.name %></option>
        <% end %>
      </select>
    </div>
    <div id="sunsystem" class="span4">
      <select id="s-select" name="sunsystem-select" class="span8">
        <option selected="selected" value="">---</option>
      </select>
    </div>
    
    <div id="planet" class="span4">
      <select id="p-select" name="planet-select" class="span8">
        <option selected="selected" value="">---</option>
      </select>
    </div>
  </div>
  <div id="choice" style="display:none">
    <div id="ship-choice" style="display:none">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Anzahl</th>
            <th>Auswahl</th>
            <th>Angriff</th>
            <th>Verteidigung</th>
          </tr>
        </thead>
        <tbody id="ship-choice-table">
        </tbody>  
      </table>
    </div>

    <div id="ress-choice" style="display:none">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Anzahl</th>
            <th>Auswahl</th>
            <th>Kapazit채t</th>
          </tr>
        </thead>
        <tbody id="ress-choice-table">
        </tbody>  
      </table>
    </div>
</div>
  <button id="check" type="button" class="btn btn-danger">Pr체fen</button>
  
  <form>
    <!-- // hier werden mithilfe vom dom die einzelnen inputs eingeh채ngt, bzw ausgeh채ngt um am ende abgeschickt zu werden -->
  </form>

  <script type="text/javascript">

    $(document).ready(function() {
      
      var travel_clicked = true;
      var colo_clicked = true;
      var transport_clicked = true;
      var spy_clicked = true;
      var attack_clicked = true;
      //ALS AJAX AUSLAGERN!!!!!!!!!!!!!
      var susy = $.parseJSON('<%=raw @susy_hash.to_json %>');
      var gala = $.parseJSON('<%=raw @gala_hash.to_json %>');
      var susy_names = $.parseJSON('<%=raw @susy_names_hash.to_json %>');
      var planets_names = $.parseJSON('<%=raw @planets_names_hash.to_json %>');
      var ships = $.parseJSON('<%=raw @ships.to_json %>');
      //ALS AJAX AUSLAGERN!!!!!!!!!!!!!
      var distance = 0;
      var planet1 = 0;
      var planet2 = 0

      function displayOwnFleets(){
        $("#own-ships").slideToggle("slow")
      }

      $("#travel").on("click",function () {
        if (travel_clicked){
          $("#colonization").fadeTo("fast", 0.1);
          $("#colonization").attr("disabled", "disabled");
          $("#transport").fadeTo("fast", 0.1);
          $("#transport").attr("disabled", "disabled");
          $("#spy").fadeTo("fast", 0.1);
          $("#spy").attr("disabled", "disabled");
          $("#attack").fadeTo("fast", 0.1);
          $("#attack").attr("disabled", "disabled");
        }
        else {
          $("#colonization").fadeTo("fast", 1);
          $("#colonization").removeAttr("disabled");
          $("#transport").fadeTo("fast", 1);
          $("#transport").removeAttr("disabled");
          $("#spy").fadeTo("fast", 1);
          $("#spy").removeAttr("disabled");
          $("#attack").fadeTo("fast", 1);
          $("#attack").removeAttr("disabled");
        }
        travel_clicked = !travel_clicked;
        displayOwnFleets();
      });

      $("#colonization").on("click", function(){
        if (colo_clicked){
          $("#travel").fadeTo("fast", 0.1);
          $("#travel").attr("disabled", "disabled");
          $("#transport").fadeTo("fast", 0.1);
          $("#transport").attr("disabled", "disabled");
          $("#spy").fadeTo("fast", 0.1);
          $("#spy").attr("disabled", "disabled");
          $("#attack").fadeTo("fast", 0.1);
          $("#attack").attr("disabled", "disabled");
        }
        else{
          $("#travel").fadeTo("fast", 1);
          $("#travel").removeAttr("disabled", "disabled");
          $("#transport").fadeTo("fast", 1);
          $("#transport").removeAttr("disabled", "disabled");
          $("#spy").fadeTo("fast", 1);
          $("#spy").removeAttr("disabled", "disabled");
          $("#attack").fadeTo("fast", 1);
          $("#attack").removeAttr("disabled", "disabled");
        }
        colo_clicked = !colo_clicked;
        displayOwnFleets();
      });
      

      $("#transport").on("click", function(){
        if (transport_clicked){
          $("#travel").fadeTo("fast", 0.1);
          $("#travel").attr("disabled", "disabled");
          $("#colonization").fadeTo("fast", 0.1);
          $("#colonization").attr("disabled", "disabled");
          $("#spy").fadeTo("fast", 0.1);
          $("#spy").attr("disabled", "disabled");
          $("#attack").fadeTo("fast", 0.1);
          $("#attack").attr("disabled", "disabled");
        }
        else{
          $("#travel").fadeTo("fast", 1);
          $("#travel").removeAttr("disabled", "disabled");
          $("#colonization").fadeTo("fast", 1);
          $("#colonization").removeAttr("disabled", "disabled");
          $("#spy").fadeTo("fast", 1);
          $("#spy").removeAttr("disabled", "disabled");
          $("#attack").fadeTo("fast", 1);
          $("#attack").removeAttr("disabled", "disabled");
        }
        transport_clicked = !transport_clicked;
        displayOwnFleets();
      });
      

      $("#spy").on("click", function(){
        if (spy_clicked){
          $("#travel").fadeTo("fast", 0.1);
          $("#travel").attr("disabled", "disabled");
          $("#transport").fadeTo("fast", 0.1);
          $("#transport").attr("disabled", "disabled");
          $("#colonization").fadeTo("fast", 0.1);
          $("#colonization").attr("disabled", "disabled");
          $("#attack").fadeTo("fast", 0.1);
          $("#attack").attr("disabled", "disabled");
        }
        else{
          $("#travel").fadeTo("fast", 1);
          $("#travel").removeAttr("disabled", "disabled");
          $("#transport").fadeTo("fast", 1);
          $("#transport").removeAttr("disabled", "disabled");
          $("#colonization").fadeTo("fast", 1);
          $("#colonization").removeAttr("disabled", "disabled");
          $("#attack").fadeTo("fast", 1);
          $("#attack").removeAttr("disabled", "disabled");
        }
        spy_clicked = !spy_clicked;
        displayOwnFleets();
      });

      
      $("#attack").on("click", function(){
        if (attack_clicked){
          $("#travel").fadeTo("fast", 0.1);
          $("#travel").attr("disabled", "disabled");
          $("#transport").fadeTo("fast", 0.1);
          $("#transport").attr("disabled", "disabled");
          $("#spy").fadeTo("fast", 0.1);
          $("#spy").attr("disabled", "disabled");
          $("#colonization").fadeTo("fast", 0.1);
          $("#colonization").attr("disabled", "disabled");
        }
        else{
          $("#travel").fadeTo("fast", 1);
          $("#travel").removeAttr("disabled", "disabled");
          $("#transport").fadeTo("fast", 1);
          $("#transport").removeAttr("disabled", "disabled");
          $("#spy").fadeTo("fast", 1);
          $("#spy").removeAttr("disabled", "disabled");
          $("#colonization").fadeTo("fast", 1);
          $("#colonization").removeAttr("disabled", "disabled");
        }
        attack_clicked = !attack_clicked;
        displayOwnFleets();
      });

      $("#g-select").change(function(){
        $("#s-select > option, #p-select > option").remove();
        $("#s-select").append('<option value="">---</option>');
        $("#p-select").append('<option value="">---</option>');
        gala_id = $("#g-select option:selected").attr("value");
        sunsystems = gala[gala_id];
        for (i in sunsystems){
          $("#s-select").append('<option value="'+sunsystems[i]+'">'+susy_names[sunsystems[i]]+'</option>');
        }

        if (gala_id == ""){
          $("#ship-choice").slideUp("slow");
        }
      });


      $("#s-select").change(function(){
        $("#p-select > option").remove();
        $("#p-select").append('<option value="">---</option>');
        susy_id = $("#s-select option:selected").attr("value");
        planets = susy[susy_id];
        for (i in planets){
          $("#p-select").append('<option value="'+planets[i]+'">'+planets_names[planets[i]]+'</option>');
        }

        if (susy_id == ""){
          $("#ship-choice").slideUp("slow");
        }
      });

      $("#p-select").change(function(){
        planet_id = $("#p-select option:selected").attr("value");
        $.getJSON("/json/distance?planet1="+planet1+"&planet2="+planet_id, function(data){
          distance = data["distance"];
        });

        if (planet_id != ""){
          $("#ship-choice").slideDown("slow");
        }
        else{
          $("#ship-choice").slideUp("slow");
        }
      });

      $(".ship-info").on("click", function(){
        id = $(this).attr("fleet");
        $(".info-"+id).animate({ height: 'toggle', opacity: 'toggle' }, 'slow');
      });

      $(".fleet-choice").on("click", function(){
        planet1 = $(this).attr("planet");
        fleet_id = $(this).attr("fleet");
        $("#destination").slideDown("slow");
        $("#ship-choice-table").children().remove();

        $.getJSON("/json/fleetships?fleet_id="+fleet_id, function(data){
          
          for (key in data){
            $("#ship-choice-table").append(
               '<tr> \n <td>'+ships[key]["name"]+'</td>\n<td>'+data[key]+'</td>\n <td><input class="span1 ship-amount" ship='+key+' type="number" name="quantity-'+key+'" min="0" max="'+data[key]+'" placeholder="0"></td> \n <td id="offense-'+key+'">0</td> \n <td id="defense-'+key+'">0</td> \n </tr>'
            );
          }

          $("#ship-choice-table").append(
            '<tr>\n<td></td>\n<td></td>\n<td id="sum-amount">0</td>\n<td id="sum-offense">0</td>\n<td id="sum-defense">0</td>\n</tr>'
          );
        });
        
      });
      // delegated event
      $(document).on("focusout", ".ship-amount", function(){
        ship_id = $(this).attr("ship");
        amount = parseInt($(this).val());
        amount_input = parseInt($(this).parent().prev().html());
        if (amount < amount_input && amount > 0){
          $("#offense-"+ship_id).html(ships[ship_id]["offense"] * amount);
          $("#defense-"+ship_id).html(ships[ship_id]["defense"] * amount);
          
          sum = 0;
          //WARUM GEHT DAS NICHT???????????????
          $(".ship-amount").each(function(){
            sum += parseInt($(this).val());
          });
          $("#sum-amount").html(sum);

          sum = 0;
          $("td[id^='offense']").each(function(){
            sum += parseInt($(this).html());
          });
          $("#sum-offense").html(sum);
          
          sum = 0;
          $("td[id^='defense']").each(function(){
            sum += parseInt($(this).html());
          });
          $("#sum-defense").html(sum);
        }
        else{
          $(this).val(0);
        };
      });
    });
  </script>

</div>
