<h1>Administrate Technologies</h1>

<table border="1">
  <thead>
    <tr>
      <th></th>
      <th>Factor</th>
      <th>cost</th>
      <th>duration</th>
      <th>maxrank</th>
    </tr>
  </thead>

  <tbody>
    <% @technologies.each do |technology| %>
      <tr>
        <td align="middle"  valign="middle"><%= technology.name %></td>
        <td align="middle"  valign="middle"><%= technology.factor %></td>
        <td align="middle"  valign="middle"><%= technology.cost%></td>
        <td align="middle"  valign="middle"><%= technology.duration %></td>
        <td align="middle"  valign="middle"><%= technology.maxrank %></td>
        <td><%= link_to 'Show', technology %></td>
        <td><%= link_to 'Edit', edit_technology_path(technology) %></td>
        <td><%= link_to 'Destroy', technology, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Technology', new_technology_path %>

<table border="1">
  <thead>
  <tr>
    <th></th>
    <th>Description</th>
    <th>rank</th>
  </tr>
  </thead>

  <tbody>
  <% @technologies.each do |technology| %>
      <tr>
        <td align="middle"  valign="middle"><img src=<%=TechnologiesHelper.(technology) %>> </td>
        <td align="middle"  valign="middle"><strong><%= 'Name: ' %></strong><%= technology.name %><br>
          <strong><%= 'Benötigte Technologien: ' %></strong><%=technology.get_requirements %><br>
          <strong><%= 'Kosten: ' %></strong><%= technology.get_technology_cost(current_user)%><br>
          <strong><%= 'Dauer: ' %></strong><%= technology.get_research_duration(current_user).to_s + ' Sekunden'%> <br>
          <strong><%= 'Beschreibung: ' %></strong><%= technology.description%>
        </td>
        <td align="middle"  valign="middle"><%= technology.get_technology_rank(current_user)%></td>

        <%unless technology.building_rank_require?(current_user)%>
        <td><%='Fehlende Forschungsstufe' %></td>
        <% else if technology.tech_require?(current_user)== false %>
        <td><%='Fehlende Voraussetzung' %></td>
        <%else if  technology.cost_required?(current_user) == false %>
        <td><%='Nicht genug Geld' %></td>
        <%else %>
        <td><%= link_to 'Upgrade Technology', technology, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <%end %>
         <%end %>
         <%end%>
      </tr>
  <% end %>
  </tbody>
</table>