<br><h1 align="middle">Update Technologies</h1><br><br><br>
<table border="1" align="center" valign="middle">
  <tbody>
  <% array = current_user.get_researching_tech %>
  <%research_id = UserSetting.find(current_user).researching%>

  <% if research_id != 0 %>
    <div class='progress progress-striped active' >
      <span style="font-weight: bold"><%= "Erforsche Technologie: " + array[0] + " Stufe " + array[1]%></span>
        <div class='bar' id='auto-updating-progressbar' ></div>
    </div>
    <div align="center"><span style="font-weight:bold; color:green"><%= 'Forschung beendet: ' + (array[4]+2.hour).to_s[0..-5] %></span></div>
    <div align="right">
     <%= button_to 'Abbrechen',
                   {:controller=>"technologies", :action=>"abort", :uid=>current_user, :id=>research_id},
                   :onclick => "return confirm('Möchtest du die aktuelle Forschung abbrechen? Der Fortschritt geht verloren')",:method=>:post
     %>
    </div>
    <br>
  <% end %>

  <% TechnologyRequire.all.map(&:building_rank).uniq.each do |rank| %>
    <tr><th colspan="4"><%= "Forschungszentrum Stufe: "+ rank.to_s %></th></tr>
      <% TechnologyRequire.where(:building_rank => rank).map(&:tech_id).uniq.each do |technology| %>
        <% technology = Technology.find(technology) %>
          <tr>
            <td align="middle"  valign="middle"><img src="<%='images/icons/increased_income_icon.png' #TechnologiesHelper.get_icon_name(technology).to_s
            %>"></td>
            <td align="middle"  valign="middle"><strong><%= 'Name: ' %></strong><%= technology.title %><br>
              <strong><%= 'Benötigte Technologien: ' %></strong><%=technology.get_requirements %><br>
              <strong><%= 'Kosten: ' %></strong><%= technology.get_technology_cost(current_user)%><br>
              <strong><%= 'Dauer: ' %></strong><%= technology.get_research_duration(current_user).to_s + ' Sekunden'%> <br>
              <strong><%= 'Beschreibung:' %></strong><%= technology.description%>
            </td>
            <td align="middle"  valign="middle" width="50"><%= technology.get_technology_rank(current_user)%></td>

            <%if technology.building_rank_require?(current_user) == false%>
            <td><p class="missing_research_lvl"><%='Fehlende Forschungsstufe' %></p></td>
            <%elsif technology.max_rank?(current_user)%>
            <td><p class="maxrank"><%='Maxrank erreicht' %></p></td>
            <%elsif technology.tech_require?(current_user)== false %>
            <td><p class="missing_tech"><%='Fehlende Voraussetzung' %></td>
            <%elsif  technology.cost_required?(current_user) == false %>
            <td><p class="missing_money"><%='Nicht genug Geld' %></p></td>
            <%elsif research_id != 0%>
            <td><p class="forscht"><%= 'Forscht.'%></p></td>
            <%else%>
            <td align="middle"  valign="middle" width="100"><%= button_to 'Upgrade',
                {:controller => "technologies", :action => "upgrade",    :uid => current_user, :id => technology} ,
                :method => :post, data: { confirm: 'Möchtest du die Technologie "' + technology.title + '" aufwerten?' }
            %></td>

             <%end%>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>


<script type='text/javascript'>
    researching = <%= research_id %>;

    var aktiv_bar;
    var aktiv_reload;

    function fetch_finished(){
        $.getJSON('/json/page_refresh.json', function(data) {
            var items = [];
            $.each(data, function(key, val) {
                items.push(val);
            });
            if (items[0] == 0){
                //window.clearInterval(aktiv_reload);
                location.reload();
            }
        });
    };

    if(researching != 0){
        var gone = <%=Time.now.to_i - array[2].to_i %>;
        var end  = <%=(array[3].to_i) %>;

        function update_progressbar(){
            if (gone >= end) {
                window.clearInterval(aktiv_bar);
                aktiv_reload = setInterval(fetch_finished,1000);
            };

            gone += 0.25;
            var p = (gone/end)*100;
            var d = document.getElementById('auto-updating-progressbar');
            d.style.width = (p+"%");

            if (gone <= end) {
              window.clearInterval(update_progressbar);
            };
        };

        aktiv_bar = window.setInterval(update_progressbar, 250);

  };


</script>