<% unless current_user.rank.alliance==@alliance and current_user.rank.can_edit %>
  	<div>
	  Du besitzt nicht die nötigen Rechte, um <%= current_user.alliance.name %> zu bearbeiten.
  	</div>
<% else %>
	<p>
		<strong>Nutzer verwalten</strong>
			<table border="1px">
				<tr>
					<th>Name</th>
					<th>Spacecash</th>
					<th>Userwertung</th>
					<th>Rank</th>
					<% if current_user.rank.alliance==@alliance and current_user.rank.can_edit  %>
					<th>Kicken</th>
					<th>Rang ändern</th>
					<% end %>
				</tr>
				<% @alliance.users.each do |user| %>
					<tr>
						<td><%=user.username%></td>
						<td><%=user.money%></td>
						<td><%=user.score%></td>
						<td><%=user.rank.name%></td>
						<td><% if current_user.rank.alliance==@alliance and current_user.rank.can_edit and current_user != user  %>
								<%= link_to 'Kicken' %>
							<%end%>
						</td>
						<td>
						<% unless current_user==user or user.rank.is_founder %>
						<%= form_tag(edit_alliance_path+'/change_user_rank')%>
						<%= hidden_field_tag 'uid', user.id %>
						<%= collection_select(:rank, :id , @alliance.ranks.where('is_founder != ?',true) , :id, :name, {:selected => user.rank.id }) %>
						<%= submit_tag 'Ändern' %>
						</form>
						<% end %>
						</td>
					</tr>
				<% end %>
			</table>
		<%= link_to 'Nutzer hinzufügen',edit_alliance_path(@alliance)+'/useradd' %>
	</p>
	<p>
		<strong>Ränge verwalten</strong>
	  	<table border="1px">
		  <tbody>
		  	<th>Rang</th>
	        <th>Kicken</th>
	        <th>Rundmail</th>
	        <th>Editieren</th>
	        <th>Einladen</th>
		  	<% @alliance.ranks.each do |rank| %>
		 	    <tr style=<%= (rank.standard) ? "font-weight:bold" : "" %>>
			  	      <td><%= rank.name %></td>
			  	      <td><%= rank.can_kick ? "Ja" : "Nein" %></td>
		        	  <td><%= rank.can_massmail ? "Ja" : "Nein" %></td>
		        	  <td><%= rank.can_edit ? "Ja" : "Nein" %></td>
		        	  <td><%= rank.can_invite ? "Ja" : "Nein" %></td> 	    
			          <td><%= link_to 'Editieren', edit_rank_path(rank) %></td>
			          <% unless rank.is_founder or rank.standard %>
			          	<td><%= link_to 'Löschen', rank, method: :delete, data: { confirm: 'Möchtest du diesen Rank wirklich löschen?' } %></td>
			          <% end %>
		  	    </tr>
		  	<%end%>
		  </tbody>
	  	</table>
	  	<%= form_tag(edit_alliance_path+'/change_default_rank')%>
			<p>	<%=label_tag ('Standardrank: ') %>
				<%= collection_select(:rank, :id , @alliance.ranks.where('is_founder != ?',true) , :id, :name, {:selected => @alliance.ranks.where(:standard=>true).first.id }) %>
				<%= submit_tag 'Ändern' %>
			</p>

		</form>
	  	<%= link_to 'Neuen Rang erstellen', new_rank_path %>
  	</p>	
<% end %>