<% if current_user.alliance_id!=nil %>
  <div>
    Du gehörst bereits zu der Allianz <b><%= current_user.alliance.name %></b>
  </div>
<% else %>
  <%= form_for(@alliance) do |f| %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'span2' %>
    </div>
    <div class="field">
      <%= f.label "Beschreibung" %><br>
      <%= f.text_area :description, class: 'readmsgarea' %>
    </div>
    <div class="actions">
      <%= f.submit 'Erstellen!', class: 'btn' %>
    </div>
  <% end %>
<% end %>