<p>
	<strong>Ränge verwalten</strong>
  	<table border="1px">
	  <tbody>
	  	<th>Rang</th>
        <th>Kicken</th>
        <th>Rundmail</th>
        <th>Einladen</th>
        <th>Beschreibung editieren</th>
        <th>Ränge editieren</th>
	  	<% @alliance.ranks.each do |rank| %>
	 	    <tr style=<%= (rank.standard) ? "font-weight:bold" : "" %>>
		  	      <td><%= rank.name %></td>
		  	      <td><%= rank.can_kick ? "Ja" : "Nein" %></td>
	        	  <td><%= rank.can_massmail ? "Ja" : "Nein" %></td>
	        	  <td><%= rank.can_invite ? "Ja" : "Nein" %></td>
	        	  <td><%= rank.can_change_description ? "Ja" : "Nein" %></td> 	  
	        	  <td><%= rank.can_edit_ranks ? "Ja" : "Nein" %></td>
	        	  <% unless rank.is_founder or rank.standard %>  
		          	<td><%= link_to 'Editieren', edit_rank_path(rank) if current_user.rank.can_edit_ranks %></td>
		          	<td><%= link_to 'Löschen', rank, method: :delete, data: { confirm: 'Möchtest du diesen Rank wirklich löschen?' } %></td>
		          <% end %>
	  	    </tr>
	  	<%end%>
	  </tbody>
  	</table>
	<% if current_user.rank.can_edit_ranks %>
	  	<%= form_tag(edit_alliance_path+'/change_default_rank')%>
			<p>	<%=label_tag ('Standardrank: ') %>
				<%= collection_select(:rank, :id , @alliance.ranks.where('is_founder != ?',true) , :id, :name, {:selected => @alliance.ranks.where(:standard=>true).first.id }) %>
				<%= submit_tag 'Ändern' %>
			</p>
		</form>
  		<%= link_to 'Neuen Rang erstellen', new_rank_path %>
  	<% end %>
</p>