<h1> <%= @alliance.name %> bearbeiten: </h1>
<%= render 'showUsers' %>
<%= render 'showRanks' if @alliance.permission?(current_user,"edit_ranks") %> 
<%= render 'changeDescription' if @alliance.permission?(current_user,"edit_ranks") %>
<%= render 'showMassMail' if @alliance.permission?(current_user,"massmail") %>
<%= render 'showFounderOptions' if @alliance.permission?(current_user,"destroy") %>
