<h1> <%= @alliance.name %> bearbeiten: </h1>

<% if current_user.alliance==@alliance %>
	<%= render 'showUsers' %>
	<%= render 'showRanks' if current_user.rank.can_edit_ranks %> 
	<%= render 'changeDescription' if current_user.rank.can_change_description %>
	<%= render 'showMassMail' if current_user.rank.can_massmail %>
<% else %>
	<%= render 'notPermitted' if current_user.alliance!=@alliance %>
<% end %>