<p id="notice"><%= notice %></p>

<p>
  <strong>Alliance:</strong>
  <%= @alliance.name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @alliance.description %>
</p>

<p>
	<strong>Founder:</strong>
	<%= @alliance.user.username %>
</p>	

<%= link_to 'Edit', edit_alliance_path(@alliance) %> |
<%= link_to 'Back', alliances_path %>
