<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @buildingtype.name %>
</p>

<p>
  <strong>Stufe:</strong>
  <%= @buildingtype.level %>
</p>

<p>
  <strong>Produktion:</strong>
  <%= @buildingtype.production %>
</p>

<p>
  <strong>Energieverbrauch:</strong>
  <%= @buildingtype.energyusage %>
</p>

<%= link_to 'Edit', edit_buildingtype_path(@buildingtype) %> |
<%= link_to 'Back', buildingtypes_path %>
