<p>
  <h1>Spionagebericht</h1> 
vom <strong><%= @report.fightdate.strftime('%d.%m.%y') %> um <%= @report.fightdate.strftime('%H:%M') %> Uhr</strong></br>
Spylevel: <%= @report.reportable.spylevel.to_s %></br>
<% if @report.reportable.mode == 2 %>
Du kannst Allianzmitglieder nicht ausspionieren.
<% elsif @report.reportable.mode == 3 %>
Du kannst deinen eigenen Planeten nicht ausspionieren.
<% elsif @report.reportable.mode == 4 %>
Deine Sonde wurde beim spionieren zerstört
<% else %>

</p>


<% if @report.reportable.mode < 2 %>
  <h4>Planet <%= @report.defender_planet.name %> von <%= @report.defender.username %>:</h4>
  <p>
    Bevölkerung: <%= @report.reportable.population %>/<%= @report.reportable.maxpopulation %> Energie: <%= @report.reportable.energy %>/<%= @report.reportable.maxenergy %>
    Erz: <%= @report.reportable.ore %>/<%= @report.reportable.maxore %> Space Cash: <%= @report.reportable.space_cash %>
    Crystal: <%= @report.reportable.crystal %>/<%= @report.reportable.maxcrystal %>
  </p>
<% end %>
<% if @report.reportable.mode == 0  %>
  <% unless @report.reportable.techstages.empty? %>
    <h4>Technologien:</h4>
    <% @report.reportable.techstages.each do |tech| %>
      <p>
        <%= tech.technology.name + ': ' + tech.level.to_s %>
      </p>
    <% end %>
  <% end %>

  <% unless @report.reportable.buildingtypes.empty? %>
    <h4>Gebäude:</h4>
    <% @report.reportable.buildingtypes.each do |buildingtype| %>
      <p>
        <%= buildingtype.name + ': ' + buildingtype.level.to_s %>
      </p>
    <% end %>
  <% end %>
  <% unless @report.reportable.shipcounts.empty? %>
    <h4>Schiffe:</h4>
    <% @report.reportable.shipcounts.each do |shipcount| %>
      <p>
        <%= shipcount.ship.name + ': ' + shipcount.amount.to_s %>
      </p>
    <% end %>
  <% end %>
<% end %>
<% end %>
</br>
<%= link_to 'Zurück', :back, remote: true %>
