<h1>Kolonialsierungsreport</h1>
<p id="notice"><%= notice %></p>
<p>
  Du hast am <strong><%= @report.fightdate.strftime('%d.%m.%y') %> um 
  <%= @report.fightdate.strftime('%H:%M') %> Uhr</strong>  erfolgreich
  den Planeten <strong><%= @report.defender_planet.name %></strong> kolonialisiert
</p>

<%= link_to 'Zurück', :back, remote: true %>