<!DOCTYPE html>
<html>
<head>
  <title>Mmog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

		

	<div id="usr_nav">
		<% if user_signed_in? %>
			Willkommen zurück, <%= current_user.username %>!
			<%= link_to "Ausloggen", destroy_user_session_path, method: :delete %>
		<% else %>
			Du bist nicht eingeloggt. <%= link_to "Logge dich ein ", new_user_session_path %> oder <%= link_to "registriere dich jetzt kostenlos!", new_user_registration_path %>
		<% end %>
	</div>

<%= yield %>

</body>
</html>
