<!DOCTYPE html>
<html>
	<head>
	  	<title>Mmog</title>
	  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
	  	<%= javascript_include_tag "application", "data-turbolinks-track" => false %>
	  	<%= csrf_meta_tags %>
	  	<style>
		    input {
		        max-width: 100%;
		    } 
		</style>
	</head>
	<body>
	<div class="container">
		<div class="row">
		 	<div class="span2">
		 		<ul class="nav nav-pills nav-stacked">
		 			<li class="active">
		 				<a href="#">
			 				<% if controller_name == 'welcome'%>
			 					Start
			 				<% elsif controller_name == 'messages' %>
			 					Nachrichten
			 				<% elsif controller_name == 'alliances' %>
			 					Allianzen
                            <% elsif controller_name == 'technologies' %>
                                Technlogien
                            <% elsif controller_name == 'reports' %>
                                Berichte
			 				<%end %>
		 				</a>
		 			</li>
		  			<li><a href="/">Start</a></li>
		  			<% if user_signed_in? %>

		  				<li><a href="<%= messages_path %>">Nachrichten <span id="msgupdate" class="badge"><%= current_user.unread_messages %></span> </a></li>
                        <li><a href="<%= technologies_path %>">Meine Technologien</a></li>
		  				<li><a href="<%= alliances_path %>">Meine Allianz</a></li>
		  				<li><a href="<%= reports_path %>">Berichte <span class="badge"><%= Report.unread_reports(current_user.id) %></span> </a></li>
		  			<% end %>
				</ul>
		  	</div>
		  	<div class="span8">
		  		<div class="well">
		  			<%= yield() %>
		  		</div>
			</div>
		  	<div class="span2">
			  		<div class="well span2">
					<% if user_signed_in? %>
						Willkommen zurück, <%= current_user.username %>!
						<%= link_to "Ausloggen", destroy_user_session_path, method: :delete %>
					<% else %>
						<%= form_for("user", :url => user_session_path) do |f| %>
						  <%= f.text_field :username, class: 'span2 pagination-centered', placeholder: 'username' %>
						  <%= f.password_field :password, class: 'span2 pagination-centered', placeholder: 'password' %>
						  <%= f.check_box :remember_me %>
						  <%= f.label 'Eingeloggt bleiben' %>
						  <%= f.submit 'Einloggen', class: 'btn' %>
						<%end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	</body>
	<script>
	    function update_messages(value){
	        d = document.getElementById('msgupdate');
	        d.innerHTML = value
	    };
		
		function refresh(){
			$.getJSON('json/fetch_unread_msgs', function(data) {
				var items = [];
				$.each(data, function(key, val) {
					items.push(val);
				});
				update_messages(items[0]);
			});
		};

        setInterval(refresh, 5000);
	</script>
</html>
